<p>Здравствуйте!</p>

Для подтверждения вашего адреса электронной почты {{ email }}, пожалуйста, перейдите по <a href="https://{{ current_site.domain }}{% url 'users.registration.confirmation' key=confirmation_key %}">ссылке</a> или вставьте в адресную строку вашего браузера
<br>
<a href="https://{{ current_site.domain }}{% url 'users.registration.confirmation' key=confirmation_key %}">https://{{ current_site.domain }}{% url 'users.registration.confirmation' key=confirmation_key %}</a>
<p>Ссылка действительна до: {{ end_time }}</p>
<p>Если вы не регистрировались, просто проигнорируйте это письмо.</p>
<p>С уважением, администрация сайта {{ current_site.name }}</p>
