<p>Здравствуйте!</p>
<p>Для того, чтобы создать новый пароль, перейдите по следующей ссылке:</p>
<p>
    <a target="_blank" rel="noopener" href='https://{{ current_site.domain }}{% url 'users.password.new' key=confirmation_key %}'>https://{{ current_site.domain }}{% url 'users.password.new' key=confirmation_key %}</a>
</p>
<p>Если вы не делали запроса для сброса пароля, то просто удалите данное письмо. Ваш пароль хранится в надежном месте и недоступен посторонним лицам.</p>
<p>С уважением, администрация сайта {{ current_site.name }}</p>