{% extends 'layout.html' %}
{% load staticfiles floattags django_bootstrap_breadcrumbs %}
{% block title %}
    Создание статьи
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
{% endblock %}

{% block js %}
    <script defer src="{% static 'js/jquery.cookie.js' %}"></script>
    <script defer src="{% static 'js/jquery.inputmask.bundle.min.js' %}"></script>
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
    <script defer src="{% static 'datetimepicker/build/jquery.datetimepicker.full.js' %}"></script>
    <script defer src="{% static 'js/jokes/master.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Анекдоты про животных" "jokes.index" %}
    {% breadcrumb "Создание" "jokes.creation" %}
{% endblock %}

{% block page %}
    <form class="ajax card" id="joke-master-form" autocomplete="off" method="post" action="{% url 'jokes.creation.save' %}">
        {% with form=joke_form %}
            {% include "jokes/forms/joke_master.html" %}
        {% endwith %}
    </form>
{% endblock %}