{% extends 'layout.html' %}
{% load extras staticfiles django_bootstrap_breadcrumbs %}
{% block title %}
    Анекдоты про животных
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jokes.css' %}" />
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/load_more.js' %}"></script>
    <script defer src="{% static 'js/jokes/jokes.js' %}"></script>
    {% if perms.jokes.delete_joke or perms.jokes.change_joke %}
        <script defer src="{% static 'js/jokes/operations.js' %}"></script>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Анекдоты про животных" "jokes.index" %}
{% endblock %}

{% block page %}
    <script type="application/javascript">
        var max_page = {{ max_page }};
    </script>

    {% if perms.jokes.delete_joke or perms.jokes.change_joke %}
        <div class="alert alert-warning options-warning">
            Все анекдоты, содержащие <b>мат</b>, <b>ненормативную лексику</b> и <b>пошлости</b>, следует помечать нецензурными.<br>
            <b>Бездарные</b> и <b>оскорбительные</b> анекдоты необходимо удалять.
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
        {% if user.is_authenticated and perms.jokes.add_joke %}
            <a href="{% url 'jokes.creation' %}" class="btn btn-success add-joke-button">
                Добавить анекдот <span class="fa fa-id-card"></span></a>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-7 col-sm-6 text-md-right text-sm-left">
            <label id="censored" class="btn censore-btn">
                <input type="checkbox" {% if show_censored == 0 %}checked{% endif %} autocomplete="off"> Скрывать нецензурные
            </label>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-6 input-group">
            <input id="search-value" type="text" class="form-control" placeholder="Искать" value="{{ search }}">
            <span class="input-group-btn">
                <div id="search" class="btn btn-success" type="button">
                    <span class="fa fa-search"></span>
                </div>
            </span>
        </div>
    </div>

    <div class="jokes">
        {% include "jokes/jokes_list.html" %}
    </div>

    <div class="text-center load-more">
        <button class="load load-main btn btn-success">Ещё</button>
        <img class="loading" src="{% static 'img/loading.gif' %}">
        <div class="error alert alert-danger">
            <b>Ошибка #<span class="status-code"></span></b> <button class="load-repeat btn btn-success">Повторить запрос</button>
        </div>
    </div>
{% endblock %}