{% extends 'layout.html' %}
{% load extras staticfiles django_bootstrap_breadcrumbs tz %}
{% block title %}
    Анекдоты про животных
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jokes.css' %}" />
{% endblock %}
{% block js %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Анекдоты про животных" "jokes.index" %}
    {% breadcrumb "Анекдот" "jokes.joke" %}
{% endblock %}

{% block page %}
    <div class="joke row{% if joke.in_queue %} in_queue{% endif %}">
        <div class="col-md-12">
            {% if joke.is_censored %}
            <div class="row">
                <div class="col-md-12 tags-line">
                    <div class="badge badge-danger pull-right">18+</div>
                </div>
            </div>
            {% endif %}
            {% if perms.jokes.delete_joke or perms.jokes.change_joke %}
                <div class="row">
                    <div class="col-md-9">
                        {% if joke.in_queue %}
                            <span class="badge badge-warning">В очереди</span>
                            <br>
                            Будет опубликован <b>{{ joke.published_at|localtime|publish_datetime }}</b>
                        {% endif %}
                        {{ joke.text|safe }}
                    </div>
                    <div class="col-md-3 text-center operations">
                        {% if perms.jokes.change_joke and not joke.is_censored %}
                            <button class="col-md-12 col-sm-4 col-xsm-6 btn btn-warning btn-sm censor-joke" type="button" data-href="{% url 'jokes.censor' id=joke.id %}">
                                18+</button>
                        {% endif %}
                        {% if perms.jokes.change_joke %}
                            <a class="col-md-12 col-sm-4 col-xsm-6 btn btn-success btn-sm change-joke" href="{% url 'jokes.editing' id=joke.id %}">Изменить <span class="fa fa-edit"></a>
                        {% endif %}
                        {% if perms.jokes.delete_joke %}
                            <button class="col-md-12 col-sm-4 col-xsm-6 btn btn-danger btn-sm delete-joke" type="button" data-href="{% url 'jokes.delete' id=joke.id %}">
                                Удалить <span class="fa fa-trash"></span></button>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                {{ joke.text|safe }}
            {% endif %}
            {% if joke.source.url %}
            <div class="row">
                <div class="col-md-12">
                    <a class="pull-right" href="{{ joke.source.url }}" rel="nofollow" target="_blank">Источник</a>
                </div>
            </div>
            {% elif joke.source_url %}
            <div class="row">
                <div class="col-md-12">
                    <a class="pull-right" href="{{ joke.source_url }}" rel="nofollow" target="_blank">Источник</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}