{% load floattags %}
{% load static %}

{% csrf_token %}
<input type="hidden" name="logo" id="logo_id" value="{{ logo.pk }}">
<input type="hidden" name="logo_x1" id="logo_x1" value="{{ logo.x_1 }}">
<input type="hidden" name="logo_x2" id="logo_x2" value="{{ logo.x_2 }}">
<input type="hidden" name="logo_y1" id="logo_y1" value="{{ logo.y_1 }}">
<input type="hidden" name="logo_y2" id="logo_y2" value="{{ logo.y_2 }}">
<input type="hidden" name="latitude" id="latitude" value="{{ form.latitude.value }}">
<input type="hidden" name="longitude" id="longitude" value="{{ form.longitude.value }}">


    <div class="card-block">
        <div class="form-group row{% if form.type.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.type.label }}</label>
            <div class="col-md-9">
                <div class="btn-group" data-toggle="buttons" id="id_type">
                    {% for type in types %}
                        {% if type.id == form.type.value %}
                        <label class="btn active" aria-pressed="true">
                            <input class="type" type="radio" value="{{ type.id }}" name="type" checked> {{ type.name }}
                        </label>
                        {% else %}
                        <label class="btn">
                            <input class="type" type="radio" value="{{ type.id }}" name="type"> {{ type.name }}
                        </label>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="form-control-feedback">{{ form.type.errors }}</div>
            </div>
        </div>
        <div class="form-group row{% if form.kind.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.kind.label }}</label>
            <div class="col-md-9">
                <div class="btn-group" data-toggle="buttons" id="id_kind">
                    {% for kind in kinds %}
                        {% if kind.id == form.kind.value %}
                        <label class="btn active" aria-pressed="true">
                            <input class="kind" type="radio" value="{{ kind.id }}" name="kind" autocomplete="off" checked> {{ kind.name }}
                        </label>
                        {% else %}
                        <label class="btn">
                            <input class="kind" type="radio" value="{{ kind.id }}" name="kind"> {{ kind.name }}
                        </label>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="form-control-feedback">{{ form.kind.errors }}</div>
            </div>
        </div>
        <div class="breed-place form-group row{% if form.breed.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.breed.label }}</label>
            <div class="col-md-9">
                <select id="breed-selector" class="form-control"></select>
                <input type="hidden" name="breed" value="{{ form.breed.value }}" id="id_breed">
                <div class="form-control-feedback">{{ form.breed.errors }}</div>
            </div>
        </div>
        <div class="form-group row{% if form.gender.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.gender.label }}</label>
            <div class="col-md-9">
                <div class="btn-group" data-toggle="buttons" id="id_gender">
                    {% if form.gender.value == '0' or form.gender.value == 0 %}
                        <label class="btn active" aria-pressed="true">
                            <input type="radio" value="0" name="gender" autocomplete="off" checked> Самка
                        </label>
                    {% else %}
                        <label class="btn" aria-pressed="false">
                            <input type="radio" value="0" name="gender" autocomplete="off"> Самка
                        </label>
                    {% endif %}
                    {% if form.gender.value == '1' or form.gender.value == 1 %}
                        <label class="btn active" aria-pressed="true">
                            <input type="radio" value="1" name="gender" autocomplete="off" checked> Самец
                        </label>
                    {% else %}
                        <label class="btn" aria-pressed="false">
                            <input type="radio" value="1" name="gender" autocomplete="off"> Самец
                        </label>
                    {% endif %}
                </div>
                <div class="form-control-feedback">{{ form.gender.errors }}</div>
            </div>
        </div>
        <div class="form-group row{% if form.nickname.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.nickname.label }}</label>
            <div class="col-md-9">
                {% if form.nikname.value %}
                <input id="id_nickname" type="text" class="form-control" name="{{ form.nickname.name }}" placeholder="{{ form.nickname.label }}" value="{{ form.nickname.value }}">
                {% else %}
                <input id="id_nickname" type="text" class="form-control" name="{{ form.nickname.name }}" placeholder="{{ form.nickname.label }}">
                {% endif %}
                <div class="form-control-feedback">{{ form.nickname.errors }}</div>
            </div>
        </div>
        <div class="price-line form-group row{% if form.price.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.price.label }}</label>
            <div class="col-md-9">
                {% if form.price.value %}
                <input id="id_price" type="text" class="form-control" name="{{ form.price.name }}" placeholder="{{ form.price.label }}" value="{{ form.price.value }}">
                {% else %}
                <input id="id_price" type="text" class="form-control" name="{{ form.price.name }}" placeholder="{{ form.price.label }}">
                {% endif %}
                <div class="form-control-feedback">{{ form.price.errors }}</div>
            </div>
        </div>
        <div class="form-group row{% if form.title.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.title.label }}</label>
            <div class="col-md-9">
                <input id="id_title" type="text" class="form-control" name="{{ form.title.name }}" placeholder="{{ form.title.label }}" value="{{ form.title.value }}">
                <div class="form-control-feedback">{{ form.title.errors }}</div>
            </div>
        </div>
        <div class="form-group row{% if form.description.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.description.label }}</label>
            <div class="col-md-9">
                <textarea id="id_description" class="form-control" name="{{ form.description.name }}" placeholder="{{ form.description.label }}">{{ form.description.value }}</textarea>
                <small class="form-text text-muted">В описании запрещено указывать ссылки</small>
                <div class="form-control-feedback">{{ form.description.errors }}</div>
            </div>
        </div>
        <div class="form-group row{% if form.logo.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.logo.label }}</label>
            <div class="col-md-9">
                <div class="crop-widget">
                    <div class="form-control btn btn-success btn-upload">
                        <input id="id_logo" type="file" name="image" class="logo-upload" data-url="{% url 'item_logo_upload' %}">
                        Прикрепить фотографию <span class="fa fa-cloud-upload"></span>
                    </div>
                    <progress class="progress progress-success w-100" value="0" max="100"></progress>
                    <small class="form-text text-muted">Фотография будет отображаться в списке объявлений</small>
                    <div class="alert alert-danger error" role="alert"></div>
                    <div class="image-place">
                        {% if logo.original %}
                        <img class="image" src="{{ logo.original.url }}"/>
                        {% endif %}
                    </div>
                    <div class="form-control-feedback">{{ form.logo.errors }}</div>
                </div>

            </div>
        </div>
        <div class="form-group row{% if form.photos.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.photos.label }}</label>
            <div class="col-md-9">
                <div class="image-widget">
                    <div class="form-control btn btn-success btn-upload">
                        <input id="id_photos" type="file" name="photo" class="photo-upload" data-url="{% url 'item_photo_upload' %}">
                        Прикрепить фотографию <span class="fa fa-cloud-upload"></span>
                    </div>
                    <progress class="progress progress-success w-100" value="0" max="100"></progress>
                    <small class="form-text text-muted">Максимум - {{ max_photos_amount }} изображения</small>
                    <div class="alert alert-danger error" role="alert"></div>
                    <div class="photos">
                        <div class="photos-container">
                            {% for photo in photos %}
                                {% include "items/uploaded_photo.html" %}
                            {% endfor %}
                        </div>
                        <div class="form-control-feedback">{{ form.photos.errors }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row{% if form.region.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.region.label }}</label>
            <div class="col-md-9">
                <select id="region-selector" class="form-control">
                    <option value="">Не выбран</option>
                    {% for region in regions %}
                        <option value="{{ region.id }}" data-latitude="{{ region.latitude|formatted_float }}" data-longitude="{{ region.longitude|formatted_float }}">{{ region.name }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="region" value="{{ form.region.value }}" id="id_region">
                <div class="form-control-feedback">{{ form.region.errors }}</div>
            </div>
        </div>
        <div class="form-group row{% if form.address.errors %} has-danger{% endif %}">
            <label class="col-md-3 col-form-label">{{ form.address.label }}</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="address" id="id_address" placeholder="Введите точный адрес" value="{{ form.address.value }}"/>
                <div class="map"></div>
                <div class="form-control-feedback">{{ form.address.errors }}</div>
            </div>
        </div>
        {% if form.name.value %}
            <div class="form-group row{% if form.name.errors %} has-danger{% endif %}">
                <label class="col-md-3 col-form-label">Ваше имя</label>
                <div class="col-md-9">
                    <input readonly id="id_name" name="name" type="text" class="form-control" value="{{ form.name.value }}">
                    <small class="form-text text-muted">Можно изменить в настройках профиля</small>
                    <div class="form-control-feedback">{{ form.name.errors }}</div>
                </div>
            </div>
        {% else %}
            <div class="form-group row{% if form.name.errors %} has-danger{% endif %}">
                <label class="col-md-3 col-form-label">Ваше имя</label>
                <div class="col-md-9">
                    <input id="id_name" name="name" type="text" class="form-control" value="{{ form.name.value }}">
                    <div class="form-control-feedback">{{ form.name.errors }}</div>
                </div>
            </div>
        {% endif %}
        {% if form.phone.value %}
            <div class="form-group row{% if form.phone.errors %} has-danger{% endif %}">
                <label class="col-md-3 col-form-label">Телефон</label>
                <div class="col-md-9">
                    <input readonly id="id_phone" name="phone" type="text" class="form-control" value="{{ form.phone.value }}">
                    <small class="form-text text-muted">Можно изменить в настройках профиля</small>
                    <div class="form-control-feedback">{{ form.phone.errors }}</div>
                </div>
            </div>
        {% else %}
            <div class="form-group row{% if form.phone.errors %} has-danger{% endif %}">
                <label class="col-md-3 col-form-label">Телефон</label>
                <div class="col-md-9">
                    <input id="id_phone" name="phone" type="text" class="form-control" value="{{ form.phone.value }}">
                    <div class="form-control-feedback">{{ form.phone.errors }}</div>
                </div>
            </div>
        {% endif %}
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Email</label>
            <div class="col-md-9">
                <input disabled type="text" class="form-control" value="{{ user.email }}">
                <small class="form-text text-muted">Можно изменить в настройках профиля</small>
            </div>
        </div>
        <div class="alert alert-danger non-field-errors" role="alert">
            {{ form.non_field_errors }}
        </div>
    </div>