{% load staticfiles %}
{% csrf_token %}

<input type="hidden" id="logo_id" name="logo" value="{{ logo.pk }}">
<input type="hidden" id="logo_x1" name="logo_x1" value="{{ logo.x_1 }}">
<input type="hidden" id="logo_y1" name="logo_y1" value="{{ logo.y_1 }}">
<input type="hidden" id="logo_x2" name="logo_x2" value="{{ logo.x_2 }}">
<input type="hidden" id="logo_y2" name="logo_y2" value="{{ logo.y_2 }}">

<div class="card-block">
    <div class="form-group row{% if form.name.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.name.label }}</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="id_name" name="{{ form.name.name }}" placeholder="{{ form.name.label }}" value="{{ form.name.value }}">
            <div class="form-control-feedback">{{ form.name.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.kind.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.kind.label }}</label>
        <div class="col-md-9">
            <div class="btn-group" data-toggle="buttons" id="id_kind">
                {% for kind in kinds %}
                    {% if kind.id == form.kind.value %}
                    <label class="btn active" aria-pressed="true">
                        <input class="kind" type="radio" value="{{ kind.id }}" name="kind" autocomplete="off" checked> {{ kind.name }}
                    </label>
                    {% else %}
                    <label class="btn">
                        <input class="kind" type="radio" value="{{ kind.id }}" name="kind"> {{ kind.name }}
                    </label>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="form-control-feedback">{{ form.kind.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.logo.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.logo.label }}</label>
        <div class="col-md-9">
            <div class="crop-widget">
                <div class="form-control btn btn-success btn-upload" id="id_logo">
                    <input type="file" name="image" class="logo-upload" data-url="{% url 'animals.breeds.logo.upload' %}">
                    Загрузить миниатюру <span class="fa fa-cloud-upload"></span>
                </div>
                <progress class="progress progress-success w-100" value="0" max="100"></progress>
                <div class="alert alert-danger error" role="alert"></div>
                <div class="image-place">
                    {% if logo.original %}
                    <img class="image" src="{{ logo.original.url }}"/>
                    {% endif %}
                </div>
                <div class="form-control-feedback">{{ form.logo.errors }}</div>
            </div>

        </div>
    </div>
    <div class="alert alert-danger non-field-errors" role="alert">
        {{ form.non_field_errors }}
    </div>
    <div class="success alert alert-success" role="alert"></div>
</div>