<p>Здравствуйте!
<br>
Вам пришло новое сообщение от пользователя <b>{{ name }}</b> ({{ email }}):</p>
<p>{{ text }}</p>
<p>Ссылка на Ваше объявление: <a href="https://{{ current_site.domain }}{{ item.get_absolute_url }}">https://{{ current_site.domain }}{{ item.get_absolute_url }}</a></p>
<p>С уважением, администрация сайта {{ current_site.name }}</p>