{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    Ошибка
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block page %}
    <div class="alert alert-danger" role="alert">
        <h2>Ошибка</h2>
        <p>Здравствуйте!</p>
        <p>Вы оказались на этой странице, потому что попытались изменить пароль учётной записи на нашем сайте, перейдя из email-сообщения по подтверждающей ссылке.</p>
        <p>К сожалению, что-то пошло не так. Пожалуйста, попробуйте восстановить пароль заново или обратитесь к администратору за помощью.</p>
    </div>
{% endblock %}