{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    Профиль
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cropperjs/cropper.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block js %}
    <script defer src="{% static 'js/jquery.cookie.js' %}"></script>
    <script defer src="{% static 'js/jquery.inputmask.bundle.min.js' %}"></script>
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script defer src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script defer src="{% static 'cropperjs/cropper.min.js' %}"></script>
    <script defer src="{% static 'js/users/profile.js' %}"></script>
{% endblock %}

{% block page %}
    <form class="ajax card" data-ajax="true" id="profile-form" autocomplete="off" method="post" action="{% url 'users.profile.update' %}">
        {% with form=profile_form %}
            {% include "extusers/forms/profile.html" %}
        {% endwith %}
    </form>

    <form class="ajax card" data-ajax="true" id="password-form" autocomplete="off" method="post" action="{% url 'users.profile.password.change' %}">
        {% with form=password_form %}
            {% include "extusers/forms/password.html" %}
        {% endwith %}
    </form>
{% endblock %}