{% extends 'layout.html' %}
{% load staticfiles %}
{% load extras %}
{% block title %}
    Регистрация завершена
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block page %}
    <div class="alert alert-success" role="alert">
        <h2>Регистрация завершена!</h2>
        <p>Перейдите по <a href="{% url 'sign_in' %}">ссылке</a> и авторизуйтесь, указав Ваш email и пароль.</p>
    </div>
{% endblock %}