{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    Ошибка
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block page %}
    <div class="alert alert-danger" role="alert">
        <h2>Ошибка</h2>
        <p>Вы оказались на этой странице, потому что попытались подтвердить регистрацию на нашем сайте, перейдя из email-сообщения по подтверждающей ссылке.</p>
        <p>К сожалению, эта ссылка была действительна до {{ date }}, а сейчас уже устарела. Пожалуйста, попробуйте <a class="inner-link" href="{% url 'sign_in' %}">зарегистрироваться заново</a> или обратитесь к администратору за помощью.</p>
    </div>
{% endblock %}