{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    Подтверждение регистрации
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block page %}
    <div class="alert alert-success" role="alert">
        <h2>Подтверждение регистрации</h2>
        <p>На указанный Вами почтовый адрес отправлено письмо со ссылкой для активации вашей учётной записи.</p>
        <p>Если письма долго нет, проверьте папку "Спам"</p>
    </div>
{% endblock %}