{% extends 'layout.html' %}
{% load staticfiles %}
{% load extras %}
{% block title %}
    Подтверждение регистрации
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/jquery.inputmask.bundle.min.js' %}"></script>
    <script defer src="{% static 'js/users/registration_confirmation.js' %}"></script>
{% endblock %}
{% block page %}
    <form class="ajax card" id="confirmation-form" autocomplete="off" method="post" action="{% url 'users.registration.confirm' key=confirmation_key %}">
        {% with form=confirmation_form %}
            {% include "extusers/forms/registration_confirmation.html" %}
        {% endwith %}
    </form>
{% endblock %}