{% extends 'layout.html' %}
{% load staticfiles cache %}
{% block title %}
    AnimalPaw.ru - С любовью ко всему живому
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/jquery.cookie.js' %}"></script>
    <script defer src="{% static 'js/index.js' %}"></script>
{% endblock %}

{% block heading %}
{% if not debug %}
{% include "slider.html" %}
{% endif %}

{% cache 3600 main %}
<div class="jumbotron text-center">
    <h1>Потерялась собака? Хотите отдать животное в добрые руки?</h1>
    <p>Просто разместите объявление на нашем сайте!</p>
    <a href="{% url 'items.creation' %}" class="btn btn-success">Разместить объявление</a>
</div>

<div class="container">
    <div class="row text-justify">
        <div class="col-lg-4 col-sm-6">
            <h3>Объявления</h3>
            <p>В разделе <a href="{% url 'items' %}">Объявления</a> Вы найдёте объявления о найденных и убежавших питомцах.</p>
            <p>Этот раздел поможет не только тем, кто нашел или потерял домашнее животное,
            но и тем, кто желает отдать животное в добрые руки.</p>
            <p>Трудно не согласиться с тем, что потеря любимого питомца для многих хозяев является серьезным испытанием, которое влечет за собой состояние сильной депрессии.</p>
            <p>Если Вы столкнулись с такой проблемой, то главное - взять себя в руки и сразу же направить все свои усилия на поиск любимца. </p>
            <p><a href="{% url 'items.creation' %}">Разместите объявление</a> на нашем сайте - вероятность того, что Ваш питомец найдется, станет значительно выше!</p>
            <ul>
                <li>Потеряли любимца?</li>
                <li>Хотите пристроить питомца в добрые руки?</li>
                <li>Мечтаете найти себе четвероногого друга?</li>
                <li>Хотите помочь потеряшке скорее вернуться домой?</li>
            </ul>
            <p>Наша <a href="{% url 'items' %}">доска объявлений</a> ждёт Вас!</p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <h3>Статьи</h3>
            <p>Про животных любят читать и дети, и взрослые. Их повадки, образ жизни и навыки выживания интересны всем.</p>
            <p>В разделе <a href="{% url 'articles.index' %}">Статьи</a> Вы можете узнать много нового о мире животных, а также
                можете найти полезные советы и рекомендации по содержанию питомцев. Читайте <a href="{% url 'articles.index' %}">статьи о животных</a> - получите ответы на многие вопросы.</p>
            <br>
            <h3>Новости</h3>
            <p>Если вы хотите узнать о событиях в мире с участием домашних или диких животных, то читайте <a href="{% url 'news.index' %}">новости о животных</a> на нашем сайте! </p>
        </div>
        <div class="col-lg-4 col-sm-6">
            <h3>Выбор собаки</h3>
            <p>Не знаете какую собаку выбрать? Мы поможем Вам в этом!</p>
            <p>Наш <a href="{% url 'animals.whatdog' %}">инструмент выбора породы собаки</a> к Вашим услугам. Исходя из Ваших возможностей и предпочтений, он поможет Вам определиться с этим непростым выбором.</p>
            <br>
            <h3>Анекдоты</h3>
            <p>Плохое настроение? Анекдоты на нашем сайте не дадут Вам загрустить!</p>
            <p>В разделе <a href="{% url 'jokes.index' %}">Анекдоты</a> мы собрали для Вас множество анекдотов про животных. Читайте <a href="{% url 'jokes.index' %}">анекдоты про животных</a> - смейтесь вместе с нами!</p>
        </div>
    </div>
</div>

{% endcache %}

 <div class="jumbotron text-center">
    <h2 class="text-center">Связаться с нами</h2>
    <div class="container-fluid text-center">
        <div class="container text-left">
            <p class="text-center">
                <em>Напишите нам - и мы ответим Вам в ближайшее время!</em>
            </p>
            <p><span class="fa fa-map"></span> Россия, Санкт-Петербург</p>
            <form id="feedback-form" class="ajax" data-ajax="true" method="post" action="{% url 'feedback.create' %}">
                {% with form=feedback_form %}
                    {% include "forms/feedback.html" %}
                {% endwith %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

{% endblock %}