{% extends 'layout.html' %}
{% load staticfiles %}
{% block title %}
    Вход
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/users/sign_in.js' %}"></script>
{% endblock %}
{% block page %}
    <script>
        var check_email_url = '{% url 'check_email' %}';
    </script>
    {% if next %}
        <div class="alert alert-info" role="alert">
            <strong>Здравствуйте!</strong> Пожалуйста, зарегистрируйтесь или авторизуйтесь на нашем сайте с помощью формы ниже. Это совсем просто и не займёт у Вас много времени.
        </div>
    {% endif %}

    <form class="ajax card" autocomplete="off" method="post" action="{% url 'users.login' %}">
        {% with form=login_form %}
            {% include "forms/login.html" %}
        {% endwith %}
    </form>

    <br>

    <form class="ajax card" autocomplete="off" method="post" action="{% url 'users.registration' %}">
        {% with form=registration_form %}
            {% include "forms/registration.html" %}
        {% endwith %}
    </form>
{% endblock %}