{% extends 'layout.html' %}
{% load extras staticfiles django_bootstrap_breadcrumbs tz %}
{% block title %}
    Статьи
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/articles.css' %}" />
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/load_more.js' %}"></script>
    <script defer src="{% static 'js/articles/articles.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% if tag %}
        {% breadcrumb "Главная" "main" %}
        {% breadcrumb "Статьи" "articles.index" %}
        {% breadcrumb "По тегу" "articles.index" %}
    {% else %}
        {% breadcrumb "Главная" "main" %}
        {% breadcrumb "Статьи" "articles.index" %}
    {% endif %}
{% endblock %}

{% block page %}
    <script type="application/javascript">
        var max_page = {{ max_page }};
    </script>
    <div class="row">
        <div class="col-md-6">
        {% if user.is_authenticated and perms.articles.add_article %}
            <a href="{% url 'articles.creation' %}" class="btn btn-success add-article-button">
                Написать статью <span class="fa fa-id-card"></span></a>
        {% endif %}
        </div>
        <div class="col-md-6">
            <div class="input-group pull-right">
                <input id="search-value" type="text" class="form-control" placeholder="Искать" value="{{ search }}">
                <span class="input-group-btn">
                    <div id="search" class="btn btn-success" type="button">
                        <span class="fa fa-search"></span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    {% if messages %}
        <div class="operation-messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% if tag %}
        <div class="tagged">
            Статьи с тегом <span class="badge badge-default">#{{ tag }}</span>
            <input type="hidden" id="tag" value="{{ tag }}">
        </div>
    {% endif %}
    <div class="articles">
        {% include "articles/articles_list.html" %}
    </div>

    <div class="text-center load-more">
        <button class="load load-main btn btn-success">Ещё</button>
        <img class="loading" src="{% static 'img/loading.gif' %}">
        <div class="error alert alert-danger">
            <b>Ошибка #<span class="status-code"></span></b> <button class="load-repeat btn btn-success">Повторить запрос</button>
        </div>
    </div>
{% endblock %}