{% extends 'layout.html' %}
{% load staticfiles extras django_bootstrap_breadcrumbs tz floattags %}
{% block title %}
    {{ article.title }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ekko-lightbox/ekko-lightbox.min.css' %}" />
{% endblock %}

{% block js %}
    <script defer src="{% static 'js/jquery.cookie.js' %}"></script>
    <script defer src="{% static 'ekko-lightbox/ekko-lightbox.min.js' %}"></script>
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script defer src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script defer src="{% static 'js/comments.js' %}"></script>
    <script defer src="{% static 'js/utils/rating.js' %}"></script>
    <script defer src="{% static 'js/articles/article.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Статьи" "articles.index" %}
    {% breadcrumb article.title "article" article.id %}
{% endblock %}

{% block meta_keywords %}{{ meta_keywords }}{% endblock %}
{% block meta_description %}{{ article.annotation }}{% endblock %}

{% block page %}
    <script>
        var content_type = {{ article.get_content_type }};
        var object_id = {{ article.id }};
    </script>
    {% if not article.is_visible %}
        <div class="alert alert-warning" role="alert">
        Эту статью видите только вы, потому что дата её публикации ещё не наступила.
        <br>
        Статья будет опубликована примерно в <b>{{ article.published_at|localtime|publish_datetime }}</b>
        </div>
    {% endif %}
    {% if user.is_authenticated and user.id == article.user_id or perms.articles.change_article %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'articles.editing' id=article.id %}" target="_blank" class="btn btn-sm btn-primary pull-right">
                            Редактировать <span class="fa fa-edit"></span></a>
        </div>
    </div>
    {% endif %}
    <h1>{{ article.title }}</h1>
    {% if article.is_visible %}
    <div class="meta text-muted">
        <span class="item">
            <span class="fa fa-calendar"></span>
            {{ article.published_at|localtime|publish_datetime }}
        </span> |
        <span class="item">
            <span class="fa fa-eye"></span>
            {{ article.views }}
        </span>
    </div>
    <hr>
    {% endif %}
    <div class="article-text">{{ article.text|safe }}</div>
    <hr>

    {% if article.show_publisher %}
        <div class="publisher w-100 text-right">Автор: <b>{{ article.user.get_full_name }}</b></div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="float-sm-right">
            {% include "pluso.html" %}
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            {% if article.tags.names %}
            <div class="tags">
                <span class="fa fa-tags"></span>
                {% for tag in article.tags.names %}
                    <span class="badge badge-default">
                        <a href="{% url 'articles.index' %}?tag={{ tag }}"><span class="fa fa-hashtag"></span>
                            {% autoescape on %}
                            {{ tag|lower }}
                            {% endautoescape %}
                        </a>
                    </span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-12 text-left">
            {% if article.is_visible %}
                <div class="float-sm-right">
                    {% with object=article %}
                        Оцените статью {% include "utils/rating.html" %}
                    {% endwith %}
                </div>
            {% endif %}
        </div>
    </div>
    <br>

    {% if similar_articles %}
        <div class="similar-articles">
            <h5>Похожие статьи:</h5>
            {% for sa in similar_articles %}
                <div class="article row">
                    <div class="col-md-2 col-sm-4 col-12">
                        <a class="article-link" href="{% url 'articles.article' id=sa.article.id %}">
                            <img class="img-thumbnail" src="{{ sa.article.logo.thumbnail.url }}" alt="">
                        </a>
                    </div>
                    <div class="col-md-10 col-sm-8 col-12 info">
                        <a class="article-link" href="{% url 'articles.article' id=sa.article.id %}">{{ sa.article.title }}</a>
                        <div class="hidden-md-down">
                            {{ sa.article.annotation }}
                            <div class="text-right">
                                <a class="article-link" href="{% url 'articles.article' id=sa.article.id %}">Читать далее...</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if article.is_visible %}
        {% with object=article %}
            {% include "comments/widget.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}