{% extends 'layout.html' %}
{% load staticfiles floattags django_bootstrap_breadcrumbs %}
{% block title %}
    Создание статьи
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'cropperjs/cropper.min.css' %}" />
{% endblock %}

{% block js %}
    <script defer src="{% static 'js/jquery.cookie.js' %}"></script>
    <script defer src="{% static 'js/jquery.inputmask.bundle.min.js' %}"></script>
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script defer src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script defer src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
    <script defer src="{% static 'datetimepicker/build/jquery.datetimepicker.full.js' %}"></script>
    <script defer src="{% static 'cropperjs/cropper.min.js' %}"></script>
    <script defer src="{% static 'js/articles/master.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Статьи" "articles.index" %}
    {% breadcrumb "Создание" "articles.creation" %}
{% endblock %}

{% block page %}
    <script>
        var browse_article_image_url = '{% url 'articles.images.browse' %}';
        var upload_article_image_url = '{% url 'articles.images.upload' %}';
        var cke_styles_url = '{% static 'css/ckeditor_content.css' %}';
    </script>
    <form class="ajax card" id="article-master-form" autocomplete="off" method="post" action="{% url 'articles.creation.save' %}">
        {% with form=article_form %}
            {% include "articles/forms/article_master.html" %}
        {% endwith %}
    </form>
{% endblock %}