{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/article_image_browse.css' %}" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
        <script defer type="text/javascript" src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
        <script defer src="{% static 'js/articles/image_browse.js' %}"></script>

    </head>
    <body>
        <script>
            var CKEditorFuncNum = '{{ CKEditorFuncNum }}';
        </script>
        {% if photos %}
            <div class="title">
                Выберите изображение
            </div>
            <div class="images">
                {% for photo in photos %}
                    <div class="image" data-url="{{ photo.original.url }}">
                        <img src="{{ photo.thumbnail.url }}">
                    </div>
                {% endfor %}
            </div>
        {% else %}
            Изображения не найдены
        {% endif %}
    </body>
</html>