{% extends 'layout.html' %}
{% load staticfiles floattags django_bootstrap_breadcrumbs %}
{% block title %}
    Редактирование породы <b>{{ breed_form.name.value }}</b>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'cropperjs/cropper.min.css' %}" />
{% endblock %}

{% block js %}
    <script defer src="{% static 'js/jquery.inputmask.bundle.min.js' %}"></script>
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script defer src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script defer src="{% static 'cropperjs/cropper.min.js' %}"></script>
    <script defer src="{% static 'js/animals/breed_master.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Породы" "animals.breeds.index" %}
    {% breadcrumb "Редактирование" "animals.breeds.editing" %}
{% endblock %}

{% block page %}
    <form class="ajax card" id="breed-master-form" autocomplete="off" method="post" action="{% url 'animals.breeds.editing.save' id=breed_id %}">
        {% with form=breed_form %}
            {% include "animals/forms/breed_master.html" %}
        {% endwith %}
        <div class="card-footer text-right">
            <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
            <button type="submit" class="submit-button btn btn-success">Сохранить <span class="fa fa-share"></span></button>
        </div>
    </form>
{% endblock %}