{% extends 'layout.html' %}
{% load extras staticfiles django_bootstrap_breadcrumbs tz %}
{% block title %}
    Породы
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/breeds.css' %}" />
{% endblock %}

{% block js %}
    <script defer src="{% static 'js/animals/breeds.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Породы" "animals.breeds.index" %}
{% endblock %}

{% block page %}

{% if user.is_authenticated and perms.animals.add_breed %}
    <a href="{% url 'animals.breeds.creation' %}" class="btn btn-success add-breed-button">
        Создать породу <span class="fa fa-id-card"></span></a>
{% endif %}
{% if messages %}
    <div class="operation-messages">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#dogs" role="tab">Собаки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cats" role="tab">Кошки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#birds" role="tab">Птицы</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane breeds active" id="dogs" role="tabpanel">
        {% for breed in dog_breeds %}
            <div class="row breed">
                <div class="col-md-2 col-sm-4">
                {% if breed.logo.preview %}
                    <img class="img-thumbnail" src="{{ breed.logo.preview.url }}?key={{ breed.logo.version }}" alt="">
                {% endif %}
                </div>
                <div class="col-md-8 col-sm-4 info">
                    {{ breed.name }}
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="{% url 'animals.breeds.editing' id=breed.id %}" class="btn btn-sm btn-primary pull-right">
                    Редактировать <span class="fa fa-edit"></span></a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="tab-pane breeds" id="cats" role="tabpanel">
        {% for breed in cat_breeds %}
            <div class="row breed">
                <div class="col-md-2 col-sm-4">
                {% if breed.logo.preview %}
                    <img class="img-thumbnail" src="{{ breed.logo.preview.url }}?key={{ breed.logo.version }}" alt="">
                {% endif %}
                </div>
                <div class="col-md-8 col-sm-4 info">
                    {{ breed.name }}
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="{% url 'animals.breeds.editing' id=breed.id %}" target="_blank" class="btn btn-sm btn-primary pull-right">
                    Редактировать <span class="fa fa-edit"></span></a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="tab-pane breeds" id="birds" role="tabpanel">
        {% for breed in bird_breeds %}
            <div class="row breed">
                <div class="col-md-2 col-sm-4">
                {% if breed.logo.preview %}
                    <img class="img-thumbnail" src="{{ breed.logo.preview.url }}?key={{ breed.logo.version }}" alt="">
                {% endif %}
                </div>
                <div class="col-md-8 col-sm-4 info">
                    {{ breed.name }}
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="{% url 'animals.breeds.editing' id=breed.id %}" target="_blank" class="btn btn-sm btn-primary pull-right">
                    Редактировать <span class="fa fa-edit"></span></a>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}