{% extends 'layout.html' %}
{% load staticfiles django_bootstrap_breadcrumbs cache %}
{% load floattags %}
{% block title %}
    Выбор породы собаки
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/whatdog.css' %}" />
{% endblock %}

{% block js %}
    <script defer src="{% static 'js/animals/whatdog.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Выбор породы собаки" "animals.whatdog" %}
{% endblock %}

{% block page %}
    <div class="alert alert-success">С помощью нашего сайта Вы можете легко подобрать наиболее подходящую для Вас породу собаки, исходя из Ваших пожеланий и возможностей.<br>
    Для этого просто выберите значения интересующих Вас характеристик и нажмите кнопку "Подобрать".</div>

    <form id="whatdog-form" class="whatdog-form" method="post" action="{% url 'animals.whatdog.analyze' %}">
        <div class="card">
            <div class="card-block">
                <div class="breed-place form-group row">
                    <label class="col-md-3 col-form-label">{{ characteristics.0.name }}</label>
                    <div class="col-md-9">
                        <select name="characteristic_{{ characteristics.0.id }}" class="form-control">
                            <option value="0">Не имеет значения</option>
                            <option value="1">Низкая</option>
                            <option value="2">Средняя</option>
                            <option value="3">Высокая</option>
                        </select>
                        <small class="form-text text-muted">{{ characteristics.0.description }}</small>
                    </div>
                </div>
                <div class="breed-place form-group row">
                    <label class="col-md-3 col-form-label">{{ characteristics.1.name }}</label>
                    <div class="col-md-9">
                        <select name="characteristic_{{ characteristics.1.id }}" class="form-control">
                            <option value="0">Не имеет значения</option>
                            <option value="1">Низкая</option>
                            <option value="2">Средняя</option>
                            <option value="3">Высокая</option>
                        </select>
                        <small class="form-text text-muted">{{ characteristics.1.description }}</small>
                    </div>
                </div>
                <div class="breed-place form-group row">
                    <label class="col-md-3 col-form-label">{{ characteristics.2.name }}</label>
                    <div class="col-md-9">
                        <select name="characteristic_{{ characteristics.2.id }}" class="form-control">
                            <option value="0">Не имеет значения</option>
                            <option value="1">Очень мало</option>
                            <option value="2">Умеренно</option>
                            <option value="3">Сильно</option>
                        </select>
                        <small class="form-text text-muted">{{ characteristics.2.description }}</small>
                    </div>
                </div>
                <div class="breed-place form-group row">
                    <label class="col-md-3 col-form-label">{{ characteristics.3.name }}</label>
                    <div class="col-md-9">
                        <select name="characteristic_{{ characteristics.3.id }}" class="form-control">
                            <option value="0">Не имеет значения</option>
                            <option value="1">Мало</option>
                            <option value="2">Умеренно</option>
                            <option value="3">Много</option>
                        </select>
                        <small class="form-text text-muted">{{ characteristics.3.description }}</small>
                    </div>
                </div>
                <div class="breed-place form-group row">
                    <label class="col-md-3 col-form-label">{{ characteristics.4.name }}</label>
                    <div class="col-md-9">
                        <select name="characteristic_{{ characteristics.4.id }}" class="form-control">
                            <option value="0">Не имеет значения</option>
                            <option value="1">Дружелюбная</option>
                            <option value="2">Нейтральная</option>
                            <option value="3">Агрессивная</option>
                        </select>
                        <small class="form-text text-muted">{{ characteristics.4.description }}</small>
                    </div>
                </div>
                <div class="breed-place form-group row">
                    <label class="col-md-3 col-form-label">{{ characteristics.5.name }}</label>
                    <div class="col-md-9">
                        <select name="characteristic_{{ characteristics.5.id }}" class="form-control">
                            <option value="0">Не имеет значения</option>
                            <option value="1">Редкая</option>
                            <option value="2">Обычная</option>
                            <option value="3">Распространённая</option>
                        </select>
                        <small class="form-text text-muted">{{ characteristics.5.description }}</small>
                    </div>
                </div>
                <div class="breed-place form-group row">
                    <label class="col-md-3 col-form-label">{{ characteristics.6.name }}</label>
                    <div class="col-md-9">
                        <select name="characteristic_{{ characteristics.6.id }}" class="form-control">
                            <option value="0">Не имеет значения</option>
                            <option value="1">Маленькая</option>
                            <option value="2">Средняя</option>
                            <option value="3">Крупная</option>
                        </select>
                        <small class="form-text text-muted">{{ characteristics.6.description }}</small>
                    </div>
                </div>
                <div class="breed-place form-group row">
                    <label class="col-md-3 col-form-label">{{ characteristics.7.name }}</label>
                    <div class="col-md-9">
                        <select name="characteristic_{{ characteristics.7.id }}" class="form-control">
                            <option value="0">Не имеет значения</option>
                            <option value="1">Неактивная</option>
                            <option value="2">Умеренная</option>
                            <option value="3">Активная</option>
                        </select>
                        <small class="form-text text-muted">{{ characteristics.7.description }}</small>
                    </div>
                </div>

                <div class="breed-place form-group row">
                    <label class="col-md-3 col-form-label">{{ characteristics.8.name }}</label>
                    <div class="col-md-9">
                        <select name="characteristic_{{ characteristics.8.id }}" class="form-control">
                            <option value="0">Не имеет значения</option>
                            <option value="1">Низкая</option>
                            <option value="2">Средняя</option>
                            <option value="3">Высокая</option>
                        </select>
                        <small class="form-text text-muted">{{ characteristics.8.description }}</small>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
                <button type="submit" class="finish btn btn-success">Подобрать <span class="fa fa-share"></span></button>
            </div>
        </div>
    </form>
    <div id="whatdog-results">
        <div class="result">

        </div>
        <span class="btn btn-success" id="whatdog-repeat">Ещё раз</span>
    </div>
{% endblock %}