{% extends 'layout.html' %}
{% load staticfiles django_bootstrap_breadcrumbs tz %}
{% load floattags %}
{% load extras %}
{% load bbcode_tags %}
{% block title %}
    {{ item.title }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/item.css' %}" />
{% endblock %}
{% block js %}
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcr-cTJeVd9vRJWfpBHwYlI6gPuQjZZvU"></script>
    <script defer src="{% static 'js/jquery.cookie.js' %}"></script>
    <script defer src="{% static 'js/items/photos_widget.js' %}"></script>
    <script defer src="{% static 'js/items/item.js' %}"></script>

    <script defer src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script defer src="//yastatic.net/share2/share.js"></script>
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Объявления" "items" %}
    {% breadcrumb item.title "item" item.region.alias item.kind.alias item.type.alias item.id %}
{% endblock %}

{% block page %}
    <h1 class="bulletin-title">{{ item.title }}</h1>
    <div class="text-right">
        <span class="fa fa-calendar"></span> {{ item.published_at|localtime|publish_datetime }} | <span class="fa fa-eye"></span>{{ item.views }}
    </div>
    <script>
        var id = {{ item.id }};
        var latitude = {{ item.latitude|formatted_float }};
        var longitude = {{ item.longitude|formatted_float }};
        var kind_id = {{ item.kind.id }};
        var phone_img_url = '{% url 'item_phone_image' id=item.id %}';
        var complaint_url = '{% url 'item_send_complaint' id=item.id %}';
    </script>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div id="carousel-indicators" class="carousel slide img-thumbnail" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for photo in item.photos.all %}
                        {% if forloop.counter0 == 0 %}
                            <li data-target="#carousel-indicators" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                        {% else %}
                            <li data-target="#carousel-indicators" data-slide-to="{{ forloop.counter0 }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% for photo in item.photos.all %}
                        {% if forloop.counter0 == 0 %}
                        <div class="carousel-item active">
                            <div class="d-block" style="background: url({{ photo.original.url }})"></div>
                        </div>
                        {% else %}
                        <div class="carousel-item">
                            <div class="d-block" style="background: url({{ photo.original.url }})"></div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel-indicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-indicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <table class="table">
                <tr class="number">
                    <td>
                        №
                    </td>
                    <td class="text-right">
                        <span class="badge badge-default">{{ item.id }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Регион/город
                    </td>
                    <td class="text-right">
                        <a target="_blank" href="{% url 'items' %}?region={{ item.region.id }}">{{ item.region.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Тип объявления
                    </td>
                    <td class="text-right">
                        {% if item.is_lost %}
                            <span class="text-center alert alert-danger">
                                <a target="_blank" href="{% url 'items' %}?type={{ item.type.id }}">{{ item.type.name }}</a>
                            </span>
                        {% elif item.is_find %}
                            <span class="text-center alert alert-success">
                                <a target="_blank" href="{% url 'items' %}?type={{ item.type.id }}">{{ item.type.name }}</a>
                            </span>
                        {% elif item.is_gift %}
                            <span class="text-center alert alert-warning">
                                <a target="_blank" href="{% url 'items' %}?type={{ item.type.id }}">{{ item.type.name }}</a>
                            </span>
                        {% elif item.is_sale %}
                            <span class="text-center alert alert-success">
                                <a target="_blank" href="{% url 'items' %}?type={{ item.type.id }}">
                                    <span class="fa fa-rub"></span> {{ item.type.name }}
                                </a>
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Животное
                    </td>
                    <td class="text-right">
                        <a target="_blank" href="{% url 'items' %}?kind={{ item.kind.id }}">{{ item.kind.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Порода
                    </td>
                    <td class="text-right">
                        {% if item.breed.name %}
                            {{ item.breed.name }}
                        {% else %}
                            Не указана
                        {% endif %}
                    </td>
                </tr>
                {% if item.nickname %}
                <tr>
                    <td>
                        Кличка
                    </td>
                    <td class="text-right">
                        {{ item.nickname }}
                    </td>
                </tr>
                {% endif %}
                {% if item.type.id == 4 %}
                <tr>
                    <td>
                        Цена
                    </td>
                    <td class="text-right">
                        {{ item.price }} руб.
                    </td>
                </tr>
                {% endif %}
            </table>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="description">
                {{ item.description|linebreaksbr }}
            </div>
            <hr>
            <div class="map-place w-100">
                <div class="address text-muted">{{ item.address|title }}</div>
                <div class="map img-thumbnail" id="map" data-kind="{{ item.kind_id }}" data-lat="{{ item.latitude|formatted_float }}" data-lon="{{ item.longitude|formatted_float }}"></div>
            </div>
            <div class="social text-right">
                <div class="img-thumbnail social-group">
                    <div class="ya-share2"
                         data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj"
                         data-image="{{ item.photos.all.0.standart.url }}"
                         data-title="{{ item.title }}"
                         data-description="{{ item.description }}"></div>
                </div>
            </div>
            <br>
                <div class="name">{{ item.name }}</div>
                <div class="phone">
                    <div class="show-phone-button btn btn-success">Показать телефон <span class="fa fa-phone"></span></div>
                    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
                </div>
                <div class="phone-place">
                    <div class="text error"></div>
                </div>
                <div class="write-message-button btn btn-success">Написать сообщение <span class="fa fa-comment-o"></span></div>

                <form class="ajax " id="feedback-form" autocomplete="off" method="post" action="{% url 'items.feedback.creation.save' id=item.id %}">
                    {% with form=feedback_form %}
                        {% include "items/forms/item_feedback.html" %}
                    {% endwith %}
                </form>

        </div>
    </div>

    <div class="information">


    <!--    {% if complaint_types %}
            <div class="complaint">
                <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
                <div class="success-text">Жалоба успешно отправлена</div>
                <div class="error-text">Ошибка при отправке жалобы</div>
                <div class="show-types">Пожаловаться</div>
                <div class="complaint-window">
                    <div class="complaint-types">
                    {% for type in complaint_types %}
                        <label class="form-radio">
                            <input name="complaint-type" type="radio" value="{{ type.code_name }}">
                            <span class="text">{{ type.name }}</span>
                        </label>
                    {% endfor %}
                        <textarea class="comment" placeholder="Формулировка жалобы"></textarea>
                    </div>
                    <div class="button send-complaint disabled">Отправить</div>
                </div>
            </div>
        {% endif %} -->
    </div>
    {% include "disqus.html" %}

{% endblock %}