{% extends 'layout.html' %}
{% load staticfiles django_bootstrap_breadcrumbs %}
{% block title %}
    Объявления
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}" />
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/load_more.js' %}"></script>
    <script defer src="{% static 'js/items/items.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Объявления" "items" %}
{% endblock %}
{% block page %}
    <script type="application/javascript">
        var max_page = {{ max_page }};
    </script>
    <script>
        var page = 1;
        var items_url = '{% url 'items' %}';
        var cat_breeds = [];
        {% for breed in cat_breeds %}
            {% if filter_breed and filter_breed == breed.id %}
                cat_breeds.push({'id': {{ breed.id }}, 'name': "{{ breed.name }}", 'selected': true});
            {% else %}
                cat_breeds.push({'id': {{ breed.id }}, 'name': "{{ breed.name }}", 'selected': false});
            {% endif %}
        {% endfor %}

        var dog_breeds = [];
        {% for breed in dog_breeds %}
            {% if filter_breed and filter_breed == breed.id %}
                dog_breeds.push({'id': {{ breed.id }}, 'name': "{{ breed.name }}", 'selected': true});
            {% else %}
                dog_breeds.push({'id': {{ breed.id }}, 'name': "{{ breed.name }}", 'selected': false});
            {% endif %}
        {% endfor %}
        var bird_breeds = [];
        {% for breed in bird_breeds %}
            {% if filter_breed and filter_breed == breed.id %}
                bird_breeds.push({'id': {{ breed.id }}, 'name': "{{ breed.name }}", 'selected': true});
            {% else %}
                bird_breeds.push({'id': {{ breed.id }}, 'name': "{{ breed.name }}", 'selected': false});
            {% endif %}
        {% endfor %}
        {% if filter_kind %}
            var filter_kind = {{ filter_kind }};
        {% else %}
            var filter_kind = false;
        {% endif %}
    </script>
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'items.creation' %}" class="btn btn-success add-bulletin-button">Создать объявление</a>
        </div>
    </div>
    <form class="form-inline filters">
        <select class="custom-select col-sm-4" id="id_region" name="region">
            <option value="">Регион</option>
            {% for region in regions %}
                {% if filter_region and filter_region == region.id %}
                    <option selected="selected" value="{{ region.id }}">{{ region.name }}</option>
                {% else %}
                    <option value="{{ region.id }}">{{ region.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select class="custom-select col-sm-4" id="id_type" name="type">
            <option value="">Тип объявления</option>
            {% for type in types %}
                {% if filter_type and filter_type == type.id %}
                    <option selected="selected" value="{{ type.id }}">{{ type.name }}</option>
                {% else %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select class="custom-select col-sm-3" id="id_kind" name="kind">
            <option value="">Вид животного</option>
            {% for kind in kinds %}
                {% if filter_kind and filter_kind == kind.id %}
                    <option selected="selected" value="{{ kind.id }}">{{ kind.name }}</option>
                {% else %}
                    <option value="{{ kind.id }}">{{ kind.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <div class="btn btn-primary col-sm-1 text-center" id="search">
            <span class="fa fa-search"></span>
        </div>
    </form>
    <div class="items">
        {% include "items/items_list.html" %}
    </div>
    <div class="text-center load-more">
        <button class="load load-main btn btn-success">Ещё</button>
        <img class="loading" src="{% static 'img/loading.gif' %}">
        <div class="error alert alert-danger">
            <b>Ошибка #<span class="status-code"></span></b> <button class="load-repeat btn btn-success">Повторить запрос</button>
        </div>
    </div>
{% endblock %}