{% extends 'layout.html' %}
{% load staticfiles django_bootstrap_breadcrumbs cache %}
{% load floattags %}
{% block title %}
    Создание объявления
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/item_pet_master.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'cropperjs/cropper.min.css' %}" />
{% endblock %}

{% block js %}
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcr-cTJeVd9vRJWfpBHwYlI6gPuQjZZvU &v=3.exp&libraries=places"></script>
    <script defer src="{% static 'js/jquery.cookie.js' %}"></script>
    <script defer src="{% static 'js/jquery.inputmask.bundle.min.js' %}"></script>
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script defer src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script defer src="{% static 'cropperjs/cropper.min.js' %}"></script>
    <script defer src="{% static 'js/items/master.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Объявления" "items" %}
    {% breadcrumb "Создание" "items.creation" %}
{% endblock %}

{% block page %}
    <script>
        const MAX_PHOTOS_AMOUNT = {{ max_photos_amount }};
        var cat_breeds = [{% for breed in cat_breeds %}{'id': {{ breed.id }}, 'name': "{{ breed.name }}"},{% endfor %}];
        var dog_breeds = [{% for breed in dog_breeds %}{'id': {{ breed.id }}, 'name': "{{ breed.name }}"},{% endfor %}];
        var bird_breeds = [{% for breed in bird_breeds %}{'id': {{ breed.id }}, 'name': "{{ breed.name }}"},{% endfor %}];
    </script>
    <form class="master-form ajax" method="post" action="{% url 'items.creation.save' %}">
        <div class="card">
            {% with form=pet_form %}
                {% include "items/forms/item_pet_master.html" %}
            {% endwith %}
            <div class="card-footer text-right">
                <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
                <button type="submit" class="finish btn btn-success">Опубликовать <span class="fa fa-share"></span></button>
            </div>
        </div>
    </form>
{% endblock %}