{% extends 'layout.html' %}
{% load staticfiles django_bootstrap_breadcrumbs %}
{% block title %}
    Ваши объявления
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_items.css' %}" />
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/load_more.js' %}"></script>
    <script defer src="{% static 'js/items/user_items.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Объявления" "items" %}
    {% breadcrumb "Ваши объявления" "items.my" %}
{% endblock %}
{% block page %}
    <script type="application/javascript">
        var max_page = {{ max_page }};
    </script>
    <script>
        var page = 1;
        var items_url = '{% url 'items.my' %}';
    </script>
    {% if messages %}
        <div class="operation-messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="items">
        {% include "items/user_items_list.html" %}
    </div>
    <div class="text-center load-more">
        <button class="load load-main btn btn-success">Ещё</button>
        <img class="loading" src="{% static 'img/loading.gif' %}">
        <div class="error alert alert-danger">
            <b>Ошибка #<span class="status-code"></span></b> <button class="load-repeat btn btn-success">Повторить запрос</button>
        </div>
    </div>
{% endblock %}