.comments {
  margin-bottom: 1rem;
  width: 100%; }
  .comments .new-comment-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.3rem; }
    .comments .new-comment-form .photo-preview {
      position: relative;
      margin-bottom: 0.5rem; }
      .comments .new-comment-form .photo-preview img {
        width: 100%;
        position: relative; }
      .comments .new-comment-form .photo-preview .delete-photo {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem; }
  .comments .avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; }
  .comments .message-no-comments {
    display: none; }

.comments-list .comment {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .comments-list .comment .comment-delete {
    cursor: pointer; }
  .comments-list .comment .comment-delete:not(.owner) {
    display: none; }
.comments-list .comment:last-child {
  border-bottom: none; }

.upload-btn {
  position: relative;
  margin-bottom: 0rem; }
  .upload-btn input[type="file"] {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px; }
  .upload-btn .file-upload-progress {
    display: none;
    width: 100%;
    height: 100%; }

.comment-photo .photo-upload {
  position: relative; }
  .comment-photo .photo-upload input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px; }
.comment-photo progress {
  display: none;
  height: 2.5rem; }
.comment-photo .error {
  display: none;
  margin-top: 0.5rem; }
.comment-photo .photo-place {
  margin-top: 0.5rem; }
  .comment-photo .photo-place img {
    height: 100%;
    width: 100%; }

/*# sourceMappingURL=comments.css.map */
