.rating {
  position: relative;
  overflow: auto; }
  .rating .rate {
    color: #FBAF00;
    cursor: pointer; }
  .rating .rate.disabled {
    cursor: not-allowed; }
  .rating .reviews_num {
    font-size: small; }
  .rating .loading {
    cursor: default;
    display: none;
    height: 1.0rem; }
  .rating .message {
    display: none; }

/*# sourceMappingURL=rating.css.map */
