{% load staticfiles honeypot %}
<div class="row">
    <div class="col-sm-6 form-group{% if form.name.errors %} has-danger{% endif %}">
        <input class="form-control w-100" id="id_name" name="{{ form.name.name }}" placeholder="{{ form.name.label }}" type="text" required value="{{ form.name.value }}">
        <div class="form-control-feedback">{{ form.name.errors }}</div>
    </div>
    <div class="col-sm-6 form-group{% if form.email.errors %} has-danger{% endif %}">
        <input class="form-control w-100" id="id_email" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" type="email" required value="{{ form.email.value }}">
        <div class="form-control-feedback">{{ form.email.errors }}</div>
    </div>
    <div class="col-sm-12 form-group{% if form.text.errors %} has-danger{% endif %}">
        <textarea class="form-control" id="id_text" name="{{ form.text.name }}" placeholder="Сообщение" rows="5"></textarea>
        <div class="form-control-feedback">{{ form.text.errors }}</div>
    </div>
</div>
{% render_honeypot_field "hp" %}
<div class="alert alert-danger non-field-errors" role="alert">
    {{ form.non_field_errors }}
</div>
<div class="success alert alert-success" role="alert"></div>
<div class="row">
    <div class="col-sm-12 form-group text-right">
        <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
        <button class="btn btn-success" type="submit">Отправить</button>
    </div>
</div>