{% load staticfiles %}
{% csrf_token %}
{% if next %}
    <input type="hidden" value="{{ next }}" name="next">
{% endif %}
<div class="card-block">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="card-title">Авторизация</h4>
        </div>
    </div>
    <div class="form-group{% if form.username.errors %} has-danger{% endif %}">
        <label class="control-label">{{ form.username.label_tag }}</label>
        <input type="email" class="form-control" id="id_username" name="{{ form.username.name }}" placeholder="{{ form.username.label }}">
        <div class="form-control-feedback">{{ form.username.errors }}</div>
    </div>
    <div class="form-group{% if form.password.errors %} has-danger{% endif %}">
        <label class="control-label">{{ form.password.label_tag }}</label>
        <input type="password" class="form-control" id="id_password" name="{{ form.password.name }}" placeholder="{{ form.password.label }}">
        <div class="form-control-feedback">{{ form.password.errors }}</div>
    </div>
    <div class="form-group">
        <div class="help-block text-right"><a href="{% url 'users.password.restore' %}">Забыли пароль?</a></div>
    </div>
    <div class="alert alert-danger non-field-errors" role="alert">
        {{ form.non_field_errors }}
    </div>
</div>
<div class="card-footer text-right">
    <a href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}" class="vk-auth-button btn btn-xs update-landing pull-left"><i class="fa fa-vk"></i></a>
    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
    <button type="submit" class="submit-button btn btn-success">Войти</button>
</div>
