{% csrf_token %}
<div class="form-group">
     <input type="email" name="username" class="form-control w-100{% if form.username.errors %} has-danger{% endif %}" id="exampleInputEmail2" placeholder="Email" required="">
    <div class="form-control-feedback">{{ form.username.errors }}</div>
</div>
<div class="form-group">
     <input type="password" name="password" class="form-control w-100{% if form.password.errors %} has-danger{% endif %}" id="exampleInputPassword2" placeholder="Пароль" required="">
    <div class="form-control-feedback">{{ form.password.errors }}</div>
     <div class="help-block text-right"><a href="">Забыли пароль?</a></div>
    <div class="help-block text-right"><a href="{% url 'sign_in' %}">Зарегистрироваться</a></div>
</div>
{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
{% endif %}
<div class="form-group">
     <button type="submit" class="btn btn-primary btn-block">Войти</button>
</div>