{% load staticfiles %}
{% csrf_token %}
<div class="card-block">
    <div class="row">
        <div class="col-md-12">
            <h4 class="card-title">Регистрация</h4>
        </div>
    </div>
    <div class="form-group{% if form.email.errors %} has-danger{% endif %}">
        <label class="control-label">{{ form.email.label_tag }}</label>
        <input id="id_email" type="email" class="form-control" name="{{ form.email.name }}" placeholder="{{ form.email.label }}">
        <div class="form-control-feedback">{{ form.email.errors }}</div>
    </div>
    <div class="alert alert-danger non-field-errors" role="alert">
        {{ form.non_field_errors }}
    </div>
</div>
<div class="card-footer text-right">
    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
    <button type="submit" class="submit-button btn btn-success">Создать учётную запись</button>
</div>