{% load staticfiles %}
{% csrf_token %}


<div class="card-block">
    <div class="form-group row{% if form.source_url.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.source_url.label }}</label>
        <div class="col-md-9">
            <input type="text" id="id_source_url" class="form-control" name="{{ form.source_url.name }}" placeholder="{{ form.source_url.label }}" value="{{ form.source_url.value }}">
            <div class="form-control-feedback">{{ form.source_url.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.text.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.text.label }}</label>
        <div class="col-md-9">
            <textarea id="id_text" class="form-control" name="{{ form.text.name }}" placeholder="{{ form.text.label }}">{{ form.text.value }}</textarea>
            <div class="form-control-feedback">{{ form.text.errors }}</div>
        </div>
    </div>
    <div class="form-check">
        <label class="form-check-label col-md-9 offset-md-3">
            {% if form.is_censored.value %}
                <input class="form-check-input" id="id_is_censored" name="{{ form.is_censored.name }}" type="checkbox" checked>
            {% else %}
                <input class="form-check-input" id="id_is_censored" name="{{ form.is_censored.name }}" type="checkbox">
            {% endif %}
            {{ form.is_censored.label }}
        </label>
    </div>
    <div class="form-group row{% if form.published_at.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.published_at.label }}</label>
        <div class="col-md-9">
            <input type="text" id="id_published_at" class="form-control" name="{{ form.published_at.name }}" placeholder="{{ form.published_at.label }}" value="{{ form.published_at.value|date:"Y-m-d H:i" }}">
            <div class="form-control-feedback">{{ form.published_at.errors }}</div>
        </div>
    </div>

    <div class="alert alert-danger non-field-errors" role="alert">
        {{ form.non_field_errors }}
    </div>
    <div class="success alert alert-success" role="alert"></div>
</div>
<div class="card-footer text-right">
    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
    <button type="submit" class="submit-button btn btn-success">Опубликовать <span class="fa fa-share"></span></button>
</div>