{% load staticfiles %}
{% csrf_token %}

<input type="hidden" id="logo_id" name="logo" value="{{ logo.pk }}">
<input type="hidden" id="logo_x1" name="logo_x1" value="{{ logo.x_1 }}">
<input type="hidden" id="logo_y1" name="logo_y1" value="{{ logo.y_1 }}">
<input type="hidden" id="logo_x2" name="logo_x2" value="{{ logo.x_2 }}">
<input type="hidden" id="logo_y2" name="logo_y2" value="{{ logo.y_2 }}">

<div class="card-block">
    <div class="form-group row{% if form.title.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.title.label }}</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="id_title" name="{{ form.title.name }}" placeholder="{{ form.title.label }}" value="{{ form.title.value }}">
            <div class="form-control-feedback">{{ form.title.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.tags.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.tags.label }}</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="id_tags" name="{{ form.tags.name }}" placeholder="{{ form.tags.label }}" value="{{ tags }}">
            <div class="form-control-feedback">{{ form.tags.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.published_at.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.published_at.label }}</label>
        <div class="col-md-9">
            <input type="text" id="id_published_at" class="form-control" name="{{ form.published_at.name }}" placeholder="{{ form.published_at.label }}" value="{{ form.published_at.value|date:"Y-m-d H:i" }}">
            <div class="form-control-feedback">{{ form.published_at.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.annotation.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.annotation.label }}</label>
        <div class="col-md-9">
            <textarea class="form-control" id="id_annotation" name="{{ form.annotation.name }}" placeholder="{{ form.annotation.label }}">{{ form.annotation.value }}</textarea>
            <div class="form-control-feedback">{{ form.annotation.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.logo.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.logo.label }}</label>
        <div class="col-md-9">
            <div class="crop-widget">
                <div class="form-control btn btn-success btn-upload" id="id_logo">
                    <input type="file" name="image" class="logo-upload" data-url="{% url 'articles.logos.upload' %}">
                    Загрузить изображение <span class="fa fa-cloud-upload"></span>
                </div>
                <progress class="progress progress-success w-100" value="0" max="100"></progress>
                <div class="alert alert-danger error" role="alert"></div>
                <div class="image-place">
                    {% if logo.original %}
                    <img class="image" src="{{ logo.original.url }}"/>
                    {% endif %}
                </div>
                <div class="form-control-feedback">{{ form.logo.errors }}</div>
            </div>

        </div>
    </div>
    <div class="form-group row{% if form.text.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.text.label }}</label>
        <div class="col-md-9">
            <textarea id="id_text" class="form-control" name="{{ form.text.name }}" placeholder="{{ form.text.label }}">{{ form.text.value }}</textarea>
            <div class="form-control-feedback">{{ form.text.errors }}</div>
        </div>
    </div>
    <div class="form-check">
        <label class="form-check-label col-md-9 offset-md-3">
            {% if form.show_publisher.value %}
                <input class="form-check-input" id="id_show_publisher" name="{{ form.show_publisher.name }}" type="checkbox" checked>
            {% else %}
                <input class="form-check-input" id="id_show_publisher" name="{{ form.show_publisher.name }}" type="checkbox">
            {% endif %}
            {{ form.show_publisher.label }}
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label col-md-9 offset-md-3">
            {% if form.to_vk.value %}
                <input class="form-check-input" id="id_to_vk" name="{{ form.to_vk.name }}" type="checkbox" checked>
            {% else %}
                <input class="form-check-input" id="id_to_vk" name="{{ form.to_vk.name }}" type="checkbox">
            {% endif %}
            {{ form.to_vk.label }}
        </label>
    </div>
    <div class="alert alert-danger non-field-errors" role="alert">
        {{ form.non_field_errors }}
    </div>
    <div class="success alert alert-success" role="alert"></div>
</div>
<div class="card-footer text-right">
    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
    <button type="submit" class="submit-button btn btn-success">Опубликовать <span class="fa fa-share"></span></button>
</div>