<div class="alert alert-success">
{% if article.is_visible %}
    <span class="fa fa-check-circle"></span> Статья <b><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></b> создана и опубликована
{% else %}
    <span class="fa fa-check-circle"></span> Статья <b><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></b> создана и будет опубликована <b>{{ article.published_at }}</b>
{% endif %}
</div>