{% extends 'layout.html' %}
{% load staticfiles extras django_bootstrap_breadcrumbs tz floattags %}
{% block title %}
    {{ article.title|safe }}
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/news_article.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ekko-lightbox/ekko-lightbox.min.css' %}" />
{% endblock %}

{% block js %}
    <script defer src="{% static 'js/jquery.cookie.js' %}"></script>
    <script defer src="{% static 'ekko-lightbox/ekko-lightbox.min.js' %}"></script>
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/jquery.fileupload.js' %}"></script>
    <script defer src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script defer src="{% static 'js/comments.js' %}"></script>
    <script defer src="{% static 'js/utils/rating.js' %}"></script>
    <script defer src="{% static 'js/news/article.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Новости" "news.index" %}
    {% breadcrumb article.title|safe "news.article" article.id %}
{% endblock %}

{% block meta_keywords %}{{ meta_keywords }}{% endblock %}
{% block meta_description %}{{ article.annotation }}{% endblock %}

{% block head %}
    <meta property="og:title" content="{{ article.title|safe }}" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="{{ base_url }}{{ article.logo.original.url }}" />

    <meta name="title" content="{{ article.title|safe }}" />
    <meta name="description" content="" />
    <link rel="image_src" href="{{ base_url }}{{ article.logo.original.url }}" />
{% endblock %}

{% block page %}
    <script>
        var content_type = {{ article.get_content_type }};
        var object_id = {{ article.id }};
    </script>
    <h1>{{ article.title|safe }}</h1>
    <div class="meta text-muted">
        <span class="item">
            <span class="fa fa-calendar"></span>
            {{ article.published_at|localtime|publish_datetime }}
        </span> |
        <span class="item">
            <span class="fa fa-eye"></span>
            {{ article.views }}
        </span>
    </div>
    <hr>
    <div class="article-text">
        {% if article.logo and article.img_amount == 0 %}
            <img alt="" class="article-image col-12 col-md-5 col-sm-6 col-xsm-12" src="{{ article.logo.original.url }}">
        {% endif %}
        {{ article.text|safe }}
    </div>
    <div class="text-right">
        <a target="_blank" href="{{ article.url }}">Ссылка на источник</a>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="float-sm-right">
            {% include "pluso.html" %}
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            {% if article.tags.names %}
            <div class="tags">
                <span class="fa fa-tags"></span>
                {% for tag in article.tags.names %}
                    <span class="badge badge-default">
                        <a href="{% url 'news.index' %}?tag={{ tag }}"><span class="fa fa-hashtag"></span>
                            {% autoescape on %}
                            {{ tag|lower }}
                            {% endautoescape %}
                        </a>
                    </span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-12 text-left">
            <div class="float-sm-right">
            {% with object=article %}
                Оцените новость {% include "utils/rating.html" %}
            {% endwith %}
            </div>
        </div>
    </div>
    <br>

    {% with object=article %}
        {% include "comments/widget.html" %}
    {% endwith %}
{% endblock %}