{% extends 'layout.html' %}
{% load extras staticfiles django_bootstrap_breadcrumbs tz %}
{% block title %}
    Новости про животных
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}" />
{% endblock %}
{% block js %}
    <script defer src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script defer src="{% static 'js/load_more.js' %}"></script>
    <script defer src="{% static 'js/news/news.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb "Главная" "main" %}
    {% breadcrumb "Новости" "news.index" %}
{% endblock %}

{% block page %}
    <script type="application/javascript">
        var max_page = {{ max_page }};
    </script>
    {% if messages %}
        <div class="operation-messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    {% if tag %}
        <div class="tagged">
            Новости с тегом <span class="badge badge-default">#{{ tag }}</span>
            <input type="hidden" id="tag" value="{{ tag }}">
        </div>
    {% endif %}
    <div class="news">
        {% include "news/news_list.html" %}
    </div>

    <div class="text-center load-more">
        <button class="load load-main btn btn-success">Ещё</button>
        <img class="loading" src="{% static 'img/loading.gif' %}">
        <div class="error alert alert-danger">
            <b>Ошибка #<span class="status-code"></span></b> <button class="load-repeat btn btn-success">Повторить запрос</button>
        </div>
    </div>
{% endblock %}