{% load extras %}
{% load staticfiles tz %}
{% if articles %}
    {% for article in articles %}
        <div class="article row{% if article.in_queue %} in_queue{% endif %}">
            <div class="col-md-2 col-sm-4">
                {% if article.logo.preview %}
                    <a class="article-link" href="{% url 'articles.article' id=article.id %}">
                        <img class="img-thumbnail" src="{{ article.logo.preview.url }}?key={{ article.logo.version }}" alt="">
                    </a>
                {% else %}
                    <a class="article-link" href="{% url 'articles.article' id=article.id %}">
                        <img class="img-thumbnail" src="{% static 'img/no_image.png' %}" alt="">
                    </a>
                {% endif %}
            </div>
            {% if perms.articles.change_article %}
                <div class="col-md-8 col-sm-4 info">
                    {% if article.in_queue %}
                        <span class="badge badge-warning">В очереди</span>
                    {% endif %}
                    <h3>
                        <a class="article-link" href="{% url 'articles.article' id=article.id %}">{{ article.title }}</a>
                    </h3>
                    <div class="meta text-muted">
                        <span class="fa fa-calendar"></span>
                        {% if article.in_queue %}
                            Будет опубликована <b>{{ article.published_at|localtime|publish_datetime }}</b>
                        {% else %}
                            {{ article.published_at|localtime|publish_datetime }} |

                            <span class="fa fa-eye"></span>
                                {{ article.views }}
                        {% endif %}
                    </div>
                    <p class="text">{{ article.annotation }}</p>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="{% url 'articles.editing' id=article.id %}" class="btn btn-sm btn-primary pull-right">
                        Редактировать <span class="fa fa-edit"></span></a>
                </div>
            {% else %}
                <div class="col-md-10 col-sm-8 info">
                    <h3>
                        <a class="article-link" href="{% url 'articles.article' id=article.id %}">{{ article.title }}</a>
                    </h3>
                    <div class="meta text-muted">
                        <span class="fa fa-calendar"></span>
                        {{ article.published_at|localtime|publish_datetime }} |

                        <span class="fa fa-eye"></span>
                            {{ article.views }}
                    </div>
                    <p class="text">{{ article.annotation }}</p>
                </div>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>К сожалению, ничего не найдено</p>
{% endif %}