{% load extras staticfiles tz imagekit %}
{% if news %}
    {% for article in news %}
        <div class="article row">
            <div class="col-md-2 col-sm-4">
                <a class="news-link" href="{% url 'news.article' id=article.id %}">
                    {% if article.logo %}
                        {% generateimage 'news:thumbnail' source=article.logo.original as preview %}
                        <img class="img-thumbnail" src="{{ preview.url }}" alt="{{ article.title|safe }}">
                    {% endif %}
                </a>
            </div>
            <div class="col-md-10 col-sm-8 info">
                <h5>
                    <a class="news-link" href="{% url 'news.article' id=article.id %}">{{ article.title|safe }}</a>
                </h5>
                <div class="meta text-muted">
                    <span class="fa fa-calendar"></span>
                    {{ article.published_at|localtime|publish_datetime }} |

                    <span class="fa fa-eye"></span>
                        {{ article.views }}
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>К сожалению, ничего не найдено</p>
{% endif %}