<div class="alert alert-success">
{% if is_active %}
    <span class="fa fa-check-circle"></span> Анекдот создан и опубликован
{% else %}
    <span class="fa fa-check-circle"></span> Анекдот создан и будет опубликован <b>{{ joke.published_at }}</b>
{% endif %}
</div>