{% if breeds %}
    <h2>Подходящие породы собак для Вас:</h2>
    <div class="breeds-list">
        {% for breed in breeds %}
            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <img class="img-thumbnail" src="{{ breed.logo.preview.url }}">
                </div>
                <div class="col-md-10 col-sm-8">{{ breed.name }}</div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% else %}
    По данным критериям подходящих пород не найдено. Попробуйте выбрать другие характеристики.
{% endif %}