{% load staticfiles %}
{% block js %}
    <script defer src="{% static 'js/form_reset_password.js' %}"></script>
{% endblock %}
<form method="post" action="/" class="form login-form">
    {% csrf_token %}

    <div class="form-line">
        <label class="label">
        {{ login_form.username.label }}
        </label>
        {{ login_form.username }}
        {{ login_form.username.errors }}
    </div>
    <div class="form-line">
        <label class="label">
        {{ login_form.password.label }}
        </label>
        {{ login_form.password }}
        {{ login_form.password.errors }}
    </div>
    {{ login_form.non_field_errors }}
    <div class="ctrls">
        <div class="inner-link remember-password">Забыли пароль?</div>
        <input type="submit" class="login-button button" value="Войти"/>
    </div>

    <div class="social-auth_or">
        <span class="social-auth_or-text">или</span>
    </div>
    {% include "social_auth.html" %}
    <span>Ещё не зарегистрированы? <a class="registration" href="{% url 'sign_in' %}">Регистрация</a></span>
</form>
<div class="reset-password-form">
    <div class="initial">
        <p>
            Пожалуйста, укажите e-mail, который Вы использовали для входа на сайт.
        </p>
        <div class="form-line">
            <input type="email" class="email">
            <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
        </div>
        <div class="error"></div>
        <div class="resetpassword-cancel button">Отмена</div>
        <div class="reset-password-button button disabled">Далее</div>
    </div>
    <div class="notification success">
        <p>Уважаемый посетитель!</p>
        <p>В связи с тем что в целях безопасности все пароли хранятся в зашифрованном виде, мы не можем восстановить Ваш старый пароль.</P>
        <p>На ваш E-Mail адрес, указанный при регистрации, было отправлено уведомление для генерации нового пароля для Вас.</p>
        <p>Следуйте инструкциям, указанным в письме.</p>
    </div>
</div>