<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    {% for url, label in breadcrumbs %}
        {% if not url or forloop.counter == breadcrumbs_total %}
            <li class="breadcrumb-item{% if forloop.counter == breadcrumbs_total %} active{% endif %}">{{ label|safe }}</li>
        {% else %}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
                <a itemprop="item"  href="{{ url }}">
                    <span itemprop="name">{{ label|safe }}</span>
                </a>
                <meta itemprop="position" content="{{ forloop.counter }}" />
            </li>
        {% endif %}
    {% endfor %}
</ol>