<!DOCTYPE html>
{% load staticfiles i18n django_bootstrap_breadcrumbs %}
<html>
    <head lang="en">
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="google-site-verification" content="m213MlMjL_ZvTCqFAPluoJedPL90eiGubAChkcekVN0" />
        <meta name="yandex-verification" content="6ef8c72657607978" />
        <meta name="msvalidate.01" content="01D4425490A623F0C9F14EC5B81C27FC" />
        <meta name='wmail-verification' content='e8bbab9bbf4b7302a5bef0bfdef17380' />
        <meta name="interkassa-verification" content="776877d3ae987727185acf45163ba0d4" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
        {% block head %}
        {% endblock %}

        <link rel="icon" href="{% static 'favicon.png' %}">
        {% block css %}

        {% endblock %}
    </head>
    <body>
        <script>
            var user_id = {{ user_id }};
        </script>
        {% if not debug %}
            {% include "rambler_top100.html" %}
            {% include "yandex_metrika.html" %}
            {% include "google_analytics.html" %}
        {% endif %}
        <header>
            <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}" alt="AnimalPaw"></a>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        {% url 'main' as main_url %}
                        {% url 'news.index' as news_url %}
                        {% url 'items' as items_url %}
                        {% url 'animals.breeds.index' as breeds_url %}
                        {% url 'articles.index' as articles_url %}
                        {% url 'jokes.index' as jokes_url %}
                        <li class="nav-item{% if request.path == articles_url %} active{% endif %}">
                            <a class="nav-link" href="{% url 'articles.index' %}">Статьи</a>
                        </li>
                        <li class="nav-item{% if request.path == news_url %} active{% endif %}">
                            <a class="nav-link" href="{% url 'news.index' %}">Новости</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown{% if request.path == items_url %} active{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Объявления</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="{% url 'items.creation' %}">Создать объявление</a>
                                <a class="dropdown-item" href="{% url 'items.my' %}">Ваши объявления</a>
                                <a class="dropdown-item" href="{% url 'items' %}">Все объявления</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item{% if request.path == items_url %} active{% endif %}">
                            <a class="nav-link" href="{% url 'items' %}">Объявления</a>
                        </li>
                        {% endif %}
                        {% if perms.animals.add_breed %}
                            <li class="nav-item{% if request.path == breeds_url %} active{% endif %}">
                                <a class="nav-link" href="{% url 'animals.breeds.index' %}">Породы</a>
                            </li>
                        {% endif %}

                        <li class="nav-item{% if request.path == jokes_url %} active{% endif %}">
                            <a class="nav-link" href="{% url 'jokes.index' %}">Анекдоты</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                        <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!--<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown">Войти</a>-->
                            <div class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-user"></span> {% if user.name %}{{ user.name }}{% else %}{{ user.email }}{% endif %}
                            </div>
                            <div class="dropdown-menu nav-login" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="{% url 'profile' %}">
                                    <span class="fa fa-cog"></span> Настройки
                                </a>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <span class="fa fa-sign-out"></span> Выйти
                                </a>
                            </div>
                        </li>
                    </ul>

                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="nav-link dropdown-toggle" href="javascript:;" id="sign-in">Войти</a>
                            <ul class="nav-login dropdown-menu" aria-labelledby="sign-in">
                                <li>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-center">Войти через</div>
                                            <div class="social-buttons row">
                                                <div class="col-sm-12">
                                                    <a href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}" class="vk vk-auth-button w-100 btn btn-info btn-xs update-landing"><i class="fa fa-vk"></i></a>
                                                </div>
                                                {% comment %}
                                                <div class="col-sm-6">
                                                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="fb w-100 btn btn-info btn-xs update-landing"><i class="fa fa-facebook"></i></a>
                                                </div>
                                                {% endcomment %}
                                            </div>
                                            <div class="text-center">или</div>
                                            <div class="text-center">Войти</div>
                                            <form class="form ajax" role="form" method="post" action="{% url 'users.login' %}" id="login-nav">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="email" name="username" class="form-control w-100" id="id_username" placeholder="Email" required="">
                                                    <div class="form-control-feedback"></div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="password" class="form-control w-100" id="id_password" placeholder="Пароль" required="">
                                                    <div class="form-control-feedback"></div>
                                                    <div class="help-block text-right"><a href="{% url 'users.password.restore' %}">Забыли пароль?</a></div>
                                                    <div class="help-block text-right"><a href="{% url 'sign_in' %}">Зарегистрироваться</a></div>
                                                </div>
                                                <div class="alert alert-danger non-field-errors" role="alert"></div>
                                                <div class="form-group">
                                                    <img alt="Индикатор" class="loading-indicator" src="{% static 'img/loading.gif' %}">
                                                    <button type="submit" class="btn btn-primary btn-block">Войти</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
        </header>
        {% block heading %}{% endblock %}
        {% block breadcrumbs %}
            {% clear_breadcrumbs %}
        {% endblock %}

        <div class="container main">
            {% block content %}
                {% render_breadcrumbs %}
            {% endblock %}
            {% block page %}{% endblock %}
        </div>

        <script defer type="text/javascript" src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'tether/js/tether.min.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'js/ajax_csrf.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script defer type="text/javascript" src="{% static 'js/form.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>