{% if items.has_other_pages %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        {% for number in page_numbers %}
            {% if number == page %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ number }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ number }}">{{ number }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endif %}