{% load staticfiles %}
<div id="carousel-indicators" class="carousel slide hidden-sm-down" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-indicators" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-indicators" data-slide-to="1"></li>
        <li data-target="#carousel-indicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block" src="{% static 'slider/pic2.jpg' %}" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block" src="{% static 'slider/pic1.jpg' %}" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block" src="{% static 'slider/pic3.jpg' %}" alt="Third slide">
        </div>
    </div>
</div>