<div class="social-auth_list">
    <span class="btn-social btn-social_vk" data-href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">
        <i class="i-social_vk i-social"></i>
    </span>
    <span class="btn-social btn-social_fb" data-href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
        <i class="i-social_fb i-social"></i>
    </span>
    <span class="btn-social btn-social_ok" data-href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
        <i class="i-social_ok i-social"></i>
    </span>
    <span class="btn-social btn-social_google" data-href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
        <i class="i-social_google i-social"></i>
    </span>
</div>