@import "main";
@import "load_more";
.articles {
  margin-bottom: 1rem;
  .article {
    margin-top: 1rem;
    position: relative;
    img {
      width: 100%;
    }
  }
  hr:last-child {
    display: none;
  }
}




#search {
  .fa {
    padding-left: 0rem;
  }
}