@import "main";
@import "comments";
@import "rating";
.tags {
  a {
    color: white;
  }
}

.article-text {
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: auto;
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
  .article-image {
    padding: 1rem;
    border-color: transparent;
  }
}

.similar-articles {
  .article {
    margin-bottom: 0.5rem;
  }
  .article:last-child {
    margin-bottom: 0rem;
  }
  margin-bottom: 0.5rem;
}