@import "main";
@import "load_more";

.add-breed-button {
  margin-bottom: 0.5rem;
}

.breeds {
  margin-bottom: 1rem;
  .breed {
    margin-top: 1rem;
    position: relative;
    img {
      width: 100%;
    }
  }
  hr:last-child {
    display: none;
  }
}