.comments {
  margin-bottom: 1rem;
  //overflow: auto;
  width: 100%;
  .new-comment-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.3rem;
    .photo-preview {
      position: relative;
      margin-bottom: 0.5rem;
      img {
        width: 100%;
        position: relative;
      }
      .delete-photo {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
      }
    }
  }
  .avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  .message-no-comments {
    display: none;
  }
}

.comments-list {
  .comment {
    .comment-delete {
      cursor: pointer;
    }
    .comment-delete:not(.owner) {
      display: none;
    }
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .comment:last-child {
    border-bottom: none;
  }
}

.upload-btn {
  position: relative;
  margin-bottom: 0rem;
  input[type="file"] {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  .file-upload-progress {
    display: none;
    width: 100%;
    height: 100%;
  }
}

.comment-photo {
  .photo-upload {
    position: relative;
    input[type="file"] {
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
    }
  }
  progress {
      display: none;
      height: 2.5rem;
  }
  .error {
      display: none;
      margin-top: 0.5rem;
  }

  .photo-place {
      margin-top: 0.5rem;
      img {
          height: 100%;
          width: 100%;
      }
  }
}