@import "main";
@import "load_more";

.items {
  margin-top: 1rem;
}

.item {
  position: relative;
  margin-bottom: .75rem;
  .alert {
    padding: 0.25rem;
    margin-bottom: 0rem;
    border: 0rem;
    border-radius: 0rem;
  }
  .card-block {
    padding: 0.5rem;

  }
  .card-footer {
    padding: 0.5rem;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.filters {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#search {
  .fa {
    padding-left: 0rem;
  }
}