@import "main";
.carousel {
  .carousel-item {
    overflow: hidden;
    height: 30rem;
    .d-block {
      height: 100%;
      width: 100%;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-color: $gray-light !important;
      background-position: 50% !important;
    }
  }
}

.phone {
  .loading-indicator {
    display: none;
    height: 2rem;
  }
}
.phone-place {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /*.phone-img {
    background-color: #000000;
    padding: 0.25rem;
  }*/
}


#map {
  height: 20rem;
}

.map-place {
  margin-bottom: 1rem;
}

.table {
  tr:first-child {
    border-top: none;
  }
}

.social {
  .social-group {
    display: inline-block;
  }
}

#feedback-form {
  display: none;
}