@import "main";
.master-form {
  .card {
    .breed-place {
      display: none;
    }
  }
}

.photo-preview {
  position: relative;
  margin-bottom: 1rem;
  .delete-photo {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.photo-preview:last-child {
  margin-bottom: 0rem;
}

.map {
  height: 25rem;
}

.price-line {
  display: none;
}