@import "custom_variables";
@import "font-awesome-4.7.0/scss/font-awesome";
@import "bootstrap-4.0.0-alpha.6/scss/bootstrap";

.main {
  margin-top: 1rem;
}



.nav > li {
  position: relative;
}

.nav-link {
  cursor: pointer;
}

.navbar-brand {
  height: 2.5rem;
  img {
    height: 100%;
  }
}


.navbar-right .nav-login {
  right: 0;
  left: auto;
  margin-top: 0.5rem;
  border-radius: 0px;
  min-width: 250px;
  padding: 5px;

  .social-buttons {
    .vk {
      background-color: #5E81A8;
    }
    .fb {
      background-color: #3B5998;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.errorlist {
  list-style-type: none;
  padding: 0rem;
  margin-bottom: 0px;
}

.btn-upload {
    position: relative;
    input[type="file"] {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }
}


.crop-widget {
    progress {
        display: none;
        height: 2.5rem;
    }
    .error {
        display: none;
        margin-top: 0.5rem;
    }

    .image-place {
        margin-top: 0.5rem;
        img {
            height: 100%;
            width: 100%;
        }
    }
}

.image-widget {
    progress {
        display: none;
        height: 2.5rem;
    }
    .error {
        display: none;
        margin-top: 0.5rem;
    }

    .photos-container {
        margin-top: 0.5rem;
        img {
            height: 100%;
            width: 100%;
        }
    }
}

form {
  .success {
      display: none;
  }

  .loading-indicator {
    height: 1rem;
    display: none;
  }
  .non-field-errors {
    display: none;
  }
}

.fa {
  color: $brand-primary;
  width: 1.0rem;
  text-align: center;
}

.alert-danger {
  .fa {
    color: $brand-danger
  }
}

.btn {
  cursor: pointer;
  .fa {
    color: white;
    //padding-left: 0.3rem;
  }
}

.btn-group {
  .btn {
    background-color: $input-bg;
    border: $input-btn-border-width solid $input-border-color;
  }

  .btn.active {
    background-color: $btn-success-bg;
    border-color: $btn-success-border;
    color: $btn-success-color;
  }
}

input[type="file"] {
  cursor: pointer;
}

html {
  font-size: 16px;
}

/*@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 22px;
  }
}*/

@include media-breakpoint-up(sm) {
  .card-columns {
    column-count: $card-columns-count;
    column-gap: $card-columns-gap;
    -moz-column-count: $card-columns-count;
    -moz-column-gap: $card-columns-gap;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
      margin-bottom: $card-columns-margin;
    }
  }
}

.has-danger {
  .btn-group {
    label {
      border: 1px solid $brand-danger;
    }
  }
}

.breadcrumb {
  a.breadcrumb-item {
    color: $brand-primary;
  }
}

.form-group:last-child {
  margin-bottom: 0rem;
}

.alert-danger {
  a {
    font-weight: bold;
    color: $alert-danger-text;
  }
}

.alert-success {
  a {
    font-weight: bold;
    color: $alert-success-text;
  }
}

.cropper-view-box {
  outline: 1px solid $brand-primary !important;
  outline-color: $brand-primary !important;
}

.cropper-point {
  background-color: $brand-primary !important;
}

button {
  cursor: pointer;
}

.operation-messages {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  .alert {
    position: relative;
    overflow: hidden;
    opacity: 1;
  }
}

.vk-auth-button {
  background-color: #507299;
  border-radius: 0.3rem;
}
.vk-auth-button:hover {
  background-color: #305075;
}

.operations {
  a, .btn {
    margin-bottom: 0.1rem;
  }
}