@import "main";
@import "load_more";

.news {
  margin-bottom: 1rem;
  .article {
    margin-top: 1rem;
    position: relative;
    img {
      width: 100%;
    }
  }
  hr:last-child {
    display: none;
  }
}