@import "main";
@import "load_more";

.items {
  .item {
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .item:last-child {
    border-bottom: none;
  }
}
