.rating {
  position: relative;
  overflow: auto;
  .rate {
    color: #FBAF00;
    cursor: pointer;
  }
  .rate.disabled {
    cursor: not-allowed;
  }
  .reviews_num {
    font-size: small;
  }
  .loading {
        cursor: default;
        display: none;
        height: 1.0rem;
      }
  .message {
    display: none;
  }
}