{% load staticfiles floattags %}
<div data-url="{% url 'utils.rate' content_type=object.get_content_type object_id=object.id %}"
        data-value="{{ object.score|formatted_float:2 }}" class="rating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
    <meta content="{{ object.score|formatted_float:2 }}" itemprop="ratingValue">
    <meta content="{{ object.reviews_num }}" itemprop="ratingCount">
    <div class="d-inline">
        <span data-value="1" class="rate fa fa-star-o"></span>
        <span data-value="2" class="rate fa fa-star-o"></span>
        <span data-value="3" class="rate fa fa-star-o"></span>
        <span data-value="4" class="rate fa fa-star-o"></span>
        <span data-value="5" class="rate fa fa-star-o"></span>
    </div>
    <img class="loading" src="{% static 'img/loading.gif' %}">
    <span class="d-inline">
        <span class="badge badge-success score">{{ object.score|formatted_float:2 }}</span>
        <span class="text-muted reviews_num">{{ object.reviews_num }}</span>
        <span class="fa fa-user"></span>
    </span>
    <div class="message error-text text-danger">Вы уже голосовали</div>
    <div class="message success-text text-success"></div>
</div>