{% load staticfiles tz %}
<div class="row comment comment_{{ comment.id }}">
    <div class="col-3 col-md-2 col-lg-1">
        {% if comment.user.avatar %}
            <img class="avatar img-thumbnail" src="{{ comment.user.avatar.preview.url }}" alt="">
        {% else %}
            <img class="avatar img-thumbnail" src="{% static 'img/no_image.png' %}" alt="">
        {% endif %}
    </div>
    <div class="col-7 col-md-9 col-lg-10">
        <div class="row">
            <div class="col-md-12 text-muted">{{ comment.user.name }} | {{ comment.created_at }}</div>
            {% if comment.photos.all.0 %}
                <div class="col-md-12">
                    <div class="w-100">{{ comment.text }}</div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <a class="comment-image-lightbox" href="{{ comment.photos.all.0.original.url }}" data-toggle="lightbox">
                                <img alt="{{ comment.text }}" class="img-thumbnail w-100" src="{{ comment.photos.all.0.preview.url }}">
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    {{ comment.text }}
                </div>
            {% endif %}
            {% comment %}
            {% if comment.user.id != user.id %}
            <div class="col-md-12">
                <a href="#">Ответить</a>
            </div>
            {% endif %}
            {% endcomment %}
        </div>
    </div>
    <div class="col-2 col-md-1 col-lg-1 text-right">
        <span class="comment-delete fa fa-close text-danger{% if comment.user.id == user.id %} owner{% endif %}" data-id="{{ comment.id }}" data-url="{% url 'comments.delete' content_type=object.get_content_type object_id=object.id comment_id=comment.id %}"></span>
    </div>
</div>