{% load staticfiles tz %}
<div class="comments card">
    <div class="card-header">
        Комментарии{% if comments_amount > 0 %} <span class="badge badge-success comments-amount">{{ comments_amount }}</span>{% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="new-comment-form">
            <form action="{% url 'comments.create' content_type=object.get_content_type object_id=object.id %}" method="post">
                <div class="row">
                    {% if user.avatar %}
                        <div class="col-2">
                            <img class="avatar img-thumbnail" src="{{ user.avatar.preview.url }}">
                        </div>
                        <div class="col-10 form-group{% if comment_form.text.errors %} has-danger{% endif %}">
                            <textarea class="form-control" id="id_text" name="{{ comment_form.text.name }}" placeholder="Комментарий" rows="5"></textarea>
                            <div class="form-control-feedback">{{ comment_form.text.errors }}</div>
                            <div class="alert alert-danger non-field-errors" role="alert">
                                {{ comment_form.non_field_errors }}
                            </div>
                            <div class="photo-place"></div>
                            <div class="success alert alert-success" role="alert"></div>
                            <div class="row">
                                <div class="col-12 text-right">
                                    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
                                    <label for="input-upload" class="btn btn-warning upload-btn">
                                        <input id="input-upload" type="file" name="photo" class="input-upload" data-url="{% url 'comments.photo.upload' %}">
                                        <span class="fa fa-photo icon-photo"></span>
                                        <div class="file-upload-progress"></div>
                                    </label>
                                    <button class="btn btn-success" type="submit">
                                        <span class="fa fa-send"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 form-group{% if comment_form.text.errors %} has-danger{% endif %}">
                            <textarea class="form-control" id="id_text" name="{{ comment_form.text.name }}" placeholder="Комментарий" rows="5"></textarea>
                            <div class="form-control-feedback">{{ comment_form.text.errors }}</div>
                            <div class="alert alert-danger non-field-errors" role="alert">
                                {{ comment_form.non_field_errors }}
                            </div>
                            <div class="success alert alert-success" role="alert"></div>
                            <div class="row">
                                <div class="col-sm-12 form-group text-right">
                                    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
                                    <button class="btn btn-success" type="submit">Отправить</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </form>
        </div>
    {% else %}
        <div class="alert alert-warning">
            Только зарегистрированные пользователи могут оставлять комментарии. <a href="{% url 'sign_in' %}">Войдите</a>, пожалуйста.
        </div>
    {% endif %}
    <div class="card-block">
        <div class="comments-list">
            {% for comment in comments %}
                {% include "comments/comment.html" %}
            {% endfor %}
        </div>
        <h5 class="message-no-comments">Комментариев пока что нет!</h5>
    </div>
</div>