{% load extras staticfiles tz %}
<div class="item card card-outline-secondary">
    <a href="{{ item.get_absolute_url }}"></a>
    {% if item.logo.preview %}
        <img class="card-img-top w-100" src="{{ item.logo.preview.url }}?key={{ item.logo.version }}" alt="Card image cap">
    {% else %}
        <img class="card-img-top w-100" src="{% static 'img/no_image.png' %}">
    {% endif %}
    {% if item.is_lost %}
        <div class="text-center alert alert-danger">Пропала</div>
    {% elif item.is_find %}
        <div class="text-center alert alert-success">Найдена</div>
    {% elif item.is_gift %}
        <div class="text-center alert alert-warning">Отдам</div>
    {% elif item.is_sale %}
        <div class="text-center alert alert-success">
        <span class="fa fa-rub"></span> Продам
        </div>
    {% endif %}
    <div class="card-block">
        <div>
            <span class="fa fa-venus-mars"></span>
            {% if item.gender == 1 %}
                Самец
            {% else %}
                Самка
            {% endif %}
        </div>
        <div>
            <span class="fa fa-paw"></span>
            {{ item.breed.name }}
        </div>
        <div>
            <span class="fa fa-map-marker"></span>
            {{ item.address }}
        </div>
        {% if item.is_sale %}
            <div>
                <span class="fa fa-rub"></span>
                {{ item.price }} руб.
            </div>
        {% endif %}
    </div>
    <div class="card-footer text-muted">
        <span class="fa fa-calendar"></span>
        {{ item.published_at|localtime|publish_datetime }} |

        <span class="fa fa-eye"></span>
            {{ item.views }}
    </div>
</div>
