{% if items %}
    <div class="card-columns">
    {% for item in items %}
        {% include "items/item_preview.html" %}
    {% endfor %}
    </div>
{% else %}
    <div id="no-items">
        <p>По вашему запросу объявлений не найдено</p>
        <p>Попробуйте установить более мягкие ограничения</p>
        <p>Можете поискать в другом городе</p>
    </div>
{% endif %}