<div class="photos-widget">
    {% if item.photos.count == 1 %}
        <div class="main fullwidth" style="background: url('{{ item.photos.all.0.original.url }}') no-repeat center; background-size: contain;">
        </div>
    {% else %}
        <div class="main" style="background: url('{{ item.photos.all.0.original.url }}') no-repeat center; background-size: contain;">
        </div>
        <div class="previews">
            {% for photo in item.photos.all %}
                {% if forloop.counter == 1 %}
                    <div data-url="{{ photo.original.url }}" class="preview active" style="background: url('{{ photo.original.url }}') no-repeat center;"></div>
                {% else %}
                    <div data-url="{{ photo.original.url }}" class="preview" style="background: url('{{ photo.original.url }}') no-repeat center;"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>