<div class="photo-preview">
    <img class="img-fluid" src="{{ photo.original.url }}">
    <input name="photos" type="hidden" value="{{ photo.id }}" class="photos_ids">
    <div class="btn btn-danger delete-photo">
        <span class="fa fa-remove"></span>
    </div>
</div>