{% if items %}
    {% for item in items %}
        {% include "items/user_item_preview.html" %}
    {% endfor %}
{% else %}
    <div id="no-items">
        <p>Объявления отсутствуют</p>
    </div>
{% endif %}