{% load staticfiles tz floattags extras %}
<div class="item">
    <div class="row">
        <div class="col-sm-12 statusbar text-muted text-right text-md-left">
            <span class="badge badge-success">№{{ item.id }}</span> |
            <span class="fa fa-calendar"></span>
            {{ item.published_at|localtime|publish_datetime }} |
            <span class="fa fa-eye"></span> {{ item.views }}
        </div>
        <div class="col-3 col-md-4">
            {% if item.logo.preview %}
                <img class="img-thumbnail" src="{{ item.logo.preview.url }}">
            {% else %}
                <img class="img-thumbnail" src="{% static 'img/no_image.png' %}">
            {% endif %}
        </div>
        <div class="col-6 col-md-5">
            <h3>{{ item.title }}</h3>
            <div class="text-justify">{{ item.description }}</div>
            {% if item.is_sale %}
                <div class="text-right">
                    <span class="fa fa-rub"></span> <strong>{{ item.price }}</strong> руб.
                </div>
            {% endif %}
        </div>
        <div class="col-3 col-md-3 text-right operations">
            <a class="hidden-sm-down col-md-12 col-sm-4 col-6 btn btn-success btn-sm" href="{% url 'items.editing' id=item.id %}">
                Редактировать <span class="fa fa-edit"></span>
            </a>
            <a class="item-delete hidden-sm-down col-md-12 col-sm-4 col-6 btn btn-danger btn-sm" href="{% url 'items.delete' id=item.id %}">
                Удалить <span class="fa fa-trash"></span>
            </a>

            <a class="btn btn-success hidden-md-up" href="{% url 'items.editing' id=item.id %}"><span class="fa fa-edit"></span></a>
            <a class="item-delete btn btn-danger hidden-md-up" href="{% url 'items.delete' id=item.id %}"><span class="fa fa-trash"></span></a>

            <div class="text-right">
                <a href="{{ item.get_absolute_url }}">Ссылка <span class="fa fa-link"></span></a>
            </div>
        </div>
    </div>
</div>