<div class="alert alert-success">
    <span class="fa fa-check-circle"></span> Объявление <b><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></b> сохранено.
    <br>Вы всегда можете просматривать свои объявления в разделе <a href="{% url 'items.my' %}">Мои объявления</a>.
</div>