{% load staticfiles %}
{% csrf_token %}
<input type="hidden" value="password" name="action">

<div class="card-block">
    <div class="row">
        <div class="col-5">
            <h4 class="card-title">Изменение пароля</h4>
        </div>
    </div>
    <div class="form-group row{% if form.password.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.password.label }}</label>
        <div class="col-md-9">
            <input type="password" id="id_password" class="form-control" name="{{ form.password.name }}" placeholder="{{ form.password.label }}">
            <div class="form-control-feedback">{{ form.password.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.password1.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.password1.label }}</label>
        <div class="col-md-9">
            <input type="password" id="id_password1" class="form-control" name="{{ form.password1.name }}" placeholder="{{ form.password1.label }}">
            <div class="form-control-feedback">{{ form.password1.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.password2.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.password2.label }}</label>
        <div class="col-md-9">
            <input type="password" id="id_password2" class="form-control" name="{{ form.password2.name }}" placeholder="{{ form.password2.label }}">
            <div class="form-control-feedback">{{ form.password2.errors }}</div>
        </div>
    </div>
    <div class="alert alert-danger non-field-errors" role="alert">
        {{ form.non_field_errors }}
    </div>
    <div class="success alert alert-success" role="alert"></div>
</div>
<div class="card-footer text-right">
    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
    <button type="submit" class="submit-button btn btn-success">Изменить</button>
</div>