{% load staticfiles %}
{% csrf_token %}
<input type="hidden" value="update" name="action">

<input type="hidden" id="avatar_id" name="avatar" value="{{ avatar.pk }}">
<input type="hidden" id="avatar_x1" name="avatar_x1" value="{{ avatar.x_1 }}">
<input type="hidden" id="avatar_y1" name="avatar_y1" value="{{ avatar.y_1 }}">
<input type="hidden" id="avatar_x2" name="avatar_x2" value="{{ avatar.x_2 }}">
<input type="hidden" id="avatar_y2" name="avatar_y2" value="{{ avatar.y_2 }}">

<div class="card-block">
    <div class="row">
        <div class="col-5">
            <h4 class="card-title">Учётная запись</h4>
        </div>
    </div>
    <div class="form-group row{% if form.email.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.email.label }}</label>
        <div class="col-md-9">
            <input type="email" id="id_email" class="form-control" name="{{ form.email.name }}" placeholder="{{ form.email.label }}" value="{{ form.email.value }}">
            <div class="form-control-feedback">{{ form.email.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.name.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.name.label }}</label>
        <div class="col-md-9">
            <input type="text" id="id_name" class="form-control" name="{{ form.name.name }}" placeholder="{{ form.name.label }}" value="{{ form.name.value }}">
            <div class="form-control-feedback">{{ form.name.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.phone.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.phone.label }}</label>
        <div class="col-md-9">
            <input type="text" id="id_phone" class="form-control" name="{{ form.phone.name }}" placeholder="{{ form.phone.label }}" value="{{ form.phone.value }}">
            <div class="form-control-feedback">{{ form.phone.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.avatar.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.avatar.label }}</label>
        <div class="col-md-9">
            <div class="crop-widget">
                <div class="form-control btn btn-success btn-upload">
                    <input type="file" name="image" class="avatar-upload" data-url="{% url 'users.profile.avatar.upload' %}">
                    Загрузить изображение <span class="fa fa-cloud-upload"></span>
                </div>
                <progress class="progress progress-success w-100" value="0" max="100"></progress>
                <div class="alert alert-danger error" role="alert"></div>
                <div class="image-place">
                    {% if avatar.original %}
                    <img class="image" src="{{ avatar.original.url }}"/>
                    {% endif %}
                </div>
                <div class="form-control-feedback">{{ form.avatar.errors }}</div>
            </div>
        </div>
    </div>
    <div class="form-group row{% if form.description.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.description.label }}</label>
        <div class="col-md-9">
            <textarea id="id_description" class="form-control" name="{{ form.description.name }}" placeholder="{{ form.description.label }}">{{ form.description.value }}</textarea>
            <div class="form-control-feedback">{{ form.description.errors }}</div>
        </div>
    </div>
    <div class="alert alert-danger non-field-errors" role="alert">
        {{ form.non_field_errors }}
    </div>
    <div class="success alert alert-success" role="alert"></div>
</div>
<div class="card-footer text-right">
    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
    <button type="submit" class="submit-button btn btn-success">Сохранить</button>
</div>