{% load staticfiles %}
{% csrf_token %}

<div class="card-block">
    <div class="alert alert-success" role="alert">
        <p>Регистрация почти завершена!</p>
        <p>Укажите Ваш пароль и немного расскажите о себе.</p>
    </div>
    <div class="form-group row{% if form.password1.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.password1.label_tag }}</label>
        <div class="col-md-9">
            <input id="id_password1" type="password" class="form-control" name="{{ form.password1.name }}" placeholder="{{ form.password1.label }}">
            <div class="form-control-feedback">{{ form.password1.errors }}</div>
            <small class="form-text text-muted">Минимум {{ min_password_length }} символов</small>
        </div>
    </div>
    <div class="form-group row{% if form.password2.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.password2.label_tag }}</label>
        <div class="col-md-9">
            <input id="id_password2" type="password" class="form-control" name="{{ form.password2.name }}" placeholder="{{ form.password2.label }}">
            <div class="form-control-feedback">{{ form.password2.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.name.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.name.label }}</label>
        <div class="col-md-9">
            <input id="id_name" type="text" class="form-control" name="{{ form.name.name }}" placeholder="{{ form.name.label }}" value="{{ form.name.value }}">
            <div class="form-control-feedback">{{ form.name.errors }}</div>
        </div>
    </div>

    <div class="form-group row{% if form.phone.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.phone.label }}</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="id_phone" name="{{ form.phone.name }}" placeholder="{{ form.phone.label }}" value="{{ form.phone.value }}">
            <div class="form-control-feedback">{{ form.phone.errors }}</div>
        </div>
    </div>
    <div class="form-group row{% if form.description.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.description.label }}</label>
        <div class="col-md-9">
            <textarea id="id_description" class="form-control" name="{{ form.description.name }}" placeholder="{{ form.description.label }}">{{ form.description.value }}</textarea>
            <div class="form-control-feedback">{{ form.description.errors }}</div>
        </div>
    </div>
    <div class="alert alert-danger non-field-errors" role="alert">
        {{ form.non_field_errors }}
    </div>
    <div class="success alert alert-success" role="alert"></div>
</div>
<div class="card-footer text-right">
    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
    <button type="submit" class="submit-button btn btn-success">Сохранить</button>
</div>