{% load staticfiles %}
{% csrf_token %}
<div class="card-block">
    <div class="row">
        <div class="col-5">
            <h4 class="card-title">Восстановление пароля</h4>
        </div>
    </div>
    <div class="form-group row{% if form.email.errors %} has-danger{% endif %}">
        <label class="col-md-3 col-form-label">{{ form.email.label }}</label>
        <div class="col-md-9">
            <input id="id_email" type="email" class="form-control" name="{{ form.email.name }}" placeholder="{{ form.email.label }}">
            <div class="form-control-feedback">{{ form.email.errors }}</div>
            <span class="form-text text-muted">Email, указанный Вами при регистрации</span>
        </div>
    </div>
    <div class="alert alert-danger non-field-errors" role="alert">
        {{ form.non_field_errors }}
    </div>
    <div class="success alert alert-success" role="alert"></div>
</div>
<div class="card-footer text-right">
    <img class="loading-indicator" src="{% static 'img/loading.gif' %}">
    <button type="submit" class="submit-button btn btn-success">Отправить</button>
</div>